Repository OpenSlides/OpenSlides, pull requests merged in 2018-12, with the labels that each got.

#4031 fix the docker build
  Dockerfile
  README.rst
Labels: docker

#4028 the redis host needs to be configured for channel layers
  openslides/utils/settings.py.tpl
Labels: core, needs review, server

#4049 Add motion blocks
  client/src/app/shared/models/agenda/item.ts
  client/src/app/shared/models/motions/motion-block.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.scss
  client/src/app/site/motions/components/category-list/category-list.component.html
  client/src/app/site/motions/components/category-list/category-list.component.scss
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.scss
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.spec.ts
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.scss
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.spec.ts
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.scss
  client/src/app/site/motions/models/view-motion-block.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/motions/motions.module.ts
  client/src/app/site/motions/services/motion-block-repository.service.spec.ts
  client/src/app/site/motions/services/motion-block-repository.service.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/styles.scss
Labels: client

#4052 Motion Attachments + Restructure
  client/src/app/shared/models/mediafiles/mediafile.ts
  client/src/app/site/agenda/services/agenda-repository.service.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/motions/components/manage-submitters/manage-submitters.component.html
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.scss
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-block-repository.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
Labels: client, motions

#4048 add change password field for users/admins
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/site/site.component.ts
  client/src/app/site/users/components/password/password.component.html
  client/src/app/site/users/components/password/password.component.scss
  client/src/app/site/users/components/password/password.component.spec.ts
  client/src/app/site/users/components/password/password.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/services/user-repository.service.ts
  client/src/app/site/users/users-routing.module.ts
  client/src/app/site/users/users.module.ts
Labels: client

#4054 Fixed Test
  tests/integration/motions/test_viewset.py
Labels: server

#4047 naming tasks and add format check for client
  .travis.yml
Labels: travis

#4050 removed action word from states
  client/src/app/shared/models/motions/workflow-state.ts
  openslides/motions/migrations/0017_remove_state_action_word.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  openslides/motions/signals.py
  tests/old/motions/test_models.py
Labels: client, needs review, server

#4058 multiple frontend changes on multi-select lists
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/assignment-list/assignment-list.component.html
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.scss
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#3991 adding full search component
  client/src/app/core/services/app-load.service.ts
  client/src/app/core/services/data-store.service.ts
  client/src/app/core/services/search.service.spec.ts
  client/src/app/core/services/search.service.ts
  client/src/app/shared/models/agenda/item.ts
  client/src/app/shared/models/assignments/assignment.ts
  client/src/app/shared/models/base/agenda-base-model.ts
  client/src/app/shared/models/base/agenda-information.ts
  client/src/app/shared/models/base/base-model.ts
  client/src/app/shared/models/base/detail-navigable.ts
  client/src/app/shared/models/base/projectable-base-model.ts
  client/src/app/shared/models/base/searchable.ts
  client/src/app/shared/models/core/chat-message.ts
  client/src/app/shared/models/core/config.ts
  client/src/app/shared/models/core/countdown.ts
  client/src/app/shared/models/core/history.ts
  client/src/app/shared/models/core/projector-message.ts
  client/src/app/shared/models/core/projector.ts
  client/src/app/shared/models/core/tag.ts
  client/src/app/shared/models/mediafiles/mediafile.ts
  client/src/app/shared/models/motions/category.ts
  client/src/app/shared/models/motions/motion-block.ts
  client/src/app/shared/models/motions/motion-change-reco.ts
  client/src/app/shared/models/motions/motion-comment-section.ts
  client/src/app/shared/models/motions/motion.ts
  client/src/app/shared/models/motions/statute-paragraph.ts
  client/src/app/shared/models/motions/workflow.ts
  client/src/app/shared/models/topics/topic.ts
  client/src/app/shared/models/users/group.ts
  client/src/app/shared/models/users/personal-note.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/site/agenda/agenda.config.ts
  client/src/app/site/assignments/assignments.config.ts
  client/src/app/site/base/app-config.ts
  client/src/app/site/common/common-routing.module.ts
  client/src/app/site/common/common.module.ts
  client/src/app/site/common/components/search/search.component.html
  client/src/app/site/common/components/search/search.component.scss
  client/src/app/site/common/components/search/search.component.spec.ts
  client/src/app/site/common/components/search/search.component.ts
  client/src/app/site/mediafiles/mediafile.config.ts
  client/src/app/site/motions/motions.config.ts
  client/src/app/site/site-routing.module.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.ts
  client/src/app/site/tags/tag.config.ts
  client/src/app/site/users/users.config.ts
Labels: client

#3985 Refactor assess_permission
  make/commands.py
  openslides/agenda/access_permissions.py
  openslides/agenda/apps.py
  openslides/assignments/access_permissions.py
  openslides/assignments/apps.py
  openslides/assignments/serializers.py
  openslides/core/access_permissions.py
  openslides/core/apps.py
  openslides/mediafiles/access_permissions.py
  openslides/mediafiles/apps.py
  openslides/motions/access_permissions.py
  openslides/motions/apps.py
  openslides/topics/access_permissions.py
  openslides/topics/apps.py
  openslides/users/access_permissions.py
  openslides/utils/access_permissions.py
  openslides/utils/models.py
  openslides/utils/rest_api.py
Labels: clean up, server

#4059 Add controls to agenda list
  client/src/app/shared/models/agenda/item.ts
  client/src/app/site/agenda/agenda.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.scss
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.html
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.scss
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.spec.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/models/view-topic.ts
  client/src/app/site/agenda/services/agenda-repository.service.ts
  client/src/app/site/agenda/services/topic-repository.service.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/core/services/duration.service.spec.ts
  client/src/app/site/core/services/duration.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
Labels: client

#4056 agenda csv export
  client/src/app/shared/models/agenda/item.ts
  client/src/app/shared/models/base/agenda-base-model.ts
  client/src/app/shared/models/topics/topic.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/services/agenda-csv-export.service.spec.ts
  client/src/app/site/agenda/services/agenda-csv-export.service.ts
Labels: client

#4068 Amendment bugfixes
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
Labels: client

#4043 Bugfix for initial values of merge_amendment_into_final - #3975
  openslides/motions/models.py
  openslides/motions/signals.py
Labels: server

#4072 simpler csv export option for agenda type
  client/src/app/shared/models/agenda/item.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/services/agenda-csv-export.service.ts
Labels: client
