Repository OpenSlides/OpenSlides, pull requests merged in 2018-11, with the labels that each got.

#3960 updating Dockerfile for Version 3
  Dockerfile
  client/src/environments/environment.prod.ts
Labels: docker

#3966 Remove utils.collections.Collection class and other cleanups
  openslides/agenda/access_permissions.py
  openslides/agenda/apps.py
  openslides/agenda/models.py
  openslides/agenda/signals.py
  openslides/agenda/views.py
  openslides/assignments/access_permissions.py
  openslides/assignments/apps.py
  openslides/assignments/models.py
  openslides/assignments/signals.py
  openslides/core/access_permissions.py
  openslides/core/apps.py
  openslides/core/models.py
  openslides/core/signals.py
  openslides/core/websocket.py
  openslides/mediafiles/access_permissions.py
  openslides/mediafiles/apps.py
  openslides/mediafiles/models.py
  openslides/mediafiles/signals.py
  openslides/motions/access_permissions.py
  openslides/motions/apps.py
  openslides/motions/models.py
  openslides/motions/signals.py
  openslides/topics/access_permissions.py
  openslides/users/access_permissions.py
  openslides/users/views.py
  openslides/utils/access_permissions.py
  openslides/utils/auth.py
  openslides/utils/cache.py
  openslides/utils/cache_providers.py
  openslides/utils/collection.py
  openslides/utils/consumers.py
  openslides/utils/models.py
  openslides/utils/redis.py
  openslides/utils/rest_api.py
  tests/conftest.py
  tests/integration/agenda/test_viewset.py
  tests/integration/helpers.py
  tests/integration/motions/test_viewset.py
  tests/integration/users/test_viewset.py
  tests/integration/utils/test_collection.py
  tests/settings.py
  tests/unit/users/test_access_permissions.py
  tests/unit/utils/cache_provider.py
  tests/unit/utils/test_cache.py
Labels: clean up

#3974 Remove CollectionElement
  openslides/agenda/access_permissions.py
  openslides/assignments/access_permissions.py
  openslides/core/config.py
  openslides/core/websocket.py
  openslides/mediafiles/access_permissions.py
  openslides/motions/access_permissions.py
  openslides/motions/views.py
  openslides/users/access_permissions.py
  openslides/users/models.py
  openslides/users/views.py
  openslides/utils/access_permissions.py
  openslides/utils/auth.py
  openslides/utils/autoupdate.py
  openslides/utils/cache.py
  openslides/utils/cache_providers.py
  openslides/utils/collection.py
  openslides/utils/consumers.py
  openslides/utils/middleware.py
  openslides/utils/models.py
  openslides/utils/rest_api.py
  openslides/utils/test.py
  openslides/utils/utils.py
  openslides/utils/websocket.py
  tests/integration/agenda/test_viewset.py
  tests/integration/helpers.py
  tests/integration/utils/test_collection.py
  tests/unit/utils/cache_provider.py
  tests/unit/utils/test_cache.py
  tests/unit/utils/test_collection.py
  tests/unit/utils/test_utils.py
Labels: clean up

#3967 Remove the deprecation warning in the CollectionStringModelMapperService
  client/src/app/core/services/collectionStringModelMapper.service.ts
  client/src/app/site/agenda/services/agenda-repository.service.spec.ts
  client/src/app/site/agenda/services/agenda-repository.service.ts
  client/src/app/site/assignments/services/assignment-repository.service.ts
  client/src/app/site/base/base-repository.ts
  client/src/app/site/config/services/config-repository.service.ts
  client/src/app/site/mediafiles/services/mediafile-repository.service.ts
  client/src/app/site/motions/services/category-repository.service.ts
  client/src/app/site/motions/services/change-recommendation-repository.service.ts
  client/src/app/site/motions/services/motion-comment-section-repository.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/app/site/motions/services/statute-paragraph-repository.service.ts
  client/src/app/site/tags/services/tag-repository.service.ts
  client/src/app/site/users/services/group-repository.service.ts
  client/src/app/site/users/services/user-repository.service.ts
Labels: clean up

#3986 Add motion states
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-repository.service.ts
Labels: needs review

#3988 fixing #3987 - postgreSQL migration possible again
  openslides/core/apps.py
Labels: bug, server

#3994 Enhanced head bar no 3
  client/package-lock.json
  client/src/app/core/services/viewport.service.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/site/agenda/agenda-list/agenda-list.component.html
  client/src/app/site/common/components/legal-notice/legal-notice.component.html
  client/src/app/site/common/components/privacy-policy/privacy-policy.component.html
  client/src/app/site/motions/components/category-list/category-list.component.html
  client/src/app/site/motions/components/meta-text-block/meta-text-block.component.html
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/users/components/group-list/group-list.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
Labels: client

#3948 ChangeId for the client
  client/package.json
  client/src/app/core/services/auth.service.ts
  client/src/app/core/services/autoupdate.service.ts
  client/src/app/core/services/cache.service.spec.ts
  client/src/app/core/services/cache.service.ts
  client/src/app/core/services/data-store.service.ts
  client/src/app/core/services/offline.service.spec.ts
  client/src/app/core/services/offline.service.ts
  client/src/app/core/services/openslides.service.ts
  client/src/app/core/services/operator.service.ts
  client/src/app/core/services/storage.service.spec.ts
  client/src/app/core/services/storage.service.ts
  client/src/app/core/services/websocket.service.ts
  client/src/app/site/login/components/login-mask/login-mask.component.ts
Labels: client, high

#3914 Added PasswordResetView.
  CHANGELOG.rst
  client/src/app/app-routing.module.ts
  client/src/app/site/login/assets/reset-password-pages.scss
  client/src/app/site/login/components/login-legal-notice/login-legal-notice.component.scss
  client/src/app/site/login/components/login-legal-notice/login-legal-notice.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.scss
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/login/components/login-privacy-policy/login-privacy-policy.component.scss
  client/src/app/site/login/components/login-privacy-policy/login-privacy-policy.component.ts
  client/src/app/site/login/components/login-wrapper/login-wrapper.component.html
  client/src/app/site/login/components/login-wrapper/login-wrapper.component.scss
  client/src/app/site/login/components/login-wrapper/login-wrapper.component.spec.ts
  client/src/app/site/login/components/login-wrapper/login-wrapper.component.ts
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.html
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.spec.ts
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.ts
  client/src/app/site/login/components/reset-password/reset-password.component.html
  client/src/app/site/login/components/reset-password/reset-password.component.spec.ts
  client/src/app/site/login/components/reset-password/reset-password.component.ts
  client/src/app/site/login/login.module.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  openslides/users/urls.py
  openslides/users/views.py
Labels: client, high, server

#3968 error handling
  client/src/app/core/services/http.service.ts
  client/src/app/site/agenda/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/assignment-list/assignment-list.component.ts
  client/src/app/site/base/base-view.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/mediafiles/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/components/category-list/category-list.component.ts
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.html
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.ts
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.ts
  client/src/app/site/motions/services/change-recommendation-repository.service.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/group-list/group-list.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#3992 Allow to hide internal items in agenda sort view.
  CHANGELOG.rst
  openslides/agenda/static/templates/agenda/item-sort.html
Labels: client

#3961 Create agenda topics
  client/src/app/core/services/http.service.ts
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/shared/components/sorting-list/sorting-list.component.ts
  client/src/app/shared/models/agenda/speaker.ts
  client/src/app/shared/models/topics/topic.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/agenda.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.css
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.spec.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.html
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.scss
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.spec.ts
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.scss
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.spec.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/agenda/models/view-speaker.ts
  client/src/app/site/agenda/models/view-topic.ts
  client/src/app/site/agenda/services/agenda-repository.service.ts
  client/src/app/site/agenda/services/topic-repository.service.spec.ts
  client/src/app/site/agenda/services/topic-repository.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/assets/styles/openslides-theme.scss
Labels: client, high

#3996 can_manage_metadata and categories on motion create
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/shared/directives/perms.directive.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  openslides/motions/views.py
Labels: client, server

#3970 refine category editing and motion numbering. Fixes the current behav…
  client/src/app/site/motions/components/category-list/category-list.component.html
  client/src/app/site/motions/components/category-list/category-list.component.scss
  client/src/app/site/motions/components/category-list/category-list.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/category-numbering.ts
  client/src/app/site/motions/services/category-repository.service.ts
Labels: bug, client

#3989 Updated German translations and translatable strings
  client/package.json
  client/src/app/app.component.ts
  client/src/app/core/marked-translations.ts
  client/src/app/shared/components/footer/footer.component.html
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/site/assignments/assignment-list/assignment-list.component.html
  client/src/app/site/common/components/legal-notice/legal-notice.component.html
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/login/components/login-legal-notice/login-legal-notice.component.html
  client/src/app/site/mediafiles/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/components/category-list/category-list.component.html
  client/src/app/site/motions/components/meta-text-block/meta-text-block.component.scss
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.html
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/users/components/group-list/group-list.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/assets/i18n/cs.json
  client/src/assets/i18n/cs.po
  client/src/assets/i18n/de.json
  client/src/assets/i18n/de.po
  client/src/assets/i18n/en.json
  client/src/assets/i18n/template-en.pot
  openslides/motions/config_variables.py
Labels: client

#3978 Set websocket url to /ws/
  client/proxy.conf.json
  client/src/app/core/services/websocket.service.ts
  client/src/karma.conf.js
  openslides/routing.py
  tests/integration/utils/test_consumers.py
Labels: client, server

#4005 Template styling improvements
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.scss
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.scss-theme.scss
  client/src/app/site/site.component.ts
  client/src/styles.scss
Labels: client

#4006 Fix broken nested agenda speaker
  client/src/app/shared/models/agenda/speaker.ts
  client/src/app/site/base/base-view-model.ts
Labels: blocker

#4011 fix #4010
  client/src/app/core/services/websocket.service.ts
Labels: bug, client, core

#4012 update dependencies and prettierrc
  client/.prettierrc
  client/angular.json
  client/package.json
  client/src/app/core/services/app-load.service.ts
  client/src/app/core/services/storage.service.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/common/components/start/start.component.ts
  client/src/app/site/motions/components/category-list/category-list.component.ts
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/group-list/group-list.component.ts
Labels: client

#4013 Change default of change recommendation internal value to public
  openslides/motions/migrations/0014_motionchangerecommendation_internal.py
  openslides/motions/models.py
Labels: server

#4023 Several bug fixes for 2.3.x
  CHANGELOG.rst
  openslides/core/static/js/core/pdf.js
  openslides/motions/static/js/motions/motion-services.js
  openslides/motions/static/js/motions/projector.js
  openslides/motions/static/templates/motions/motion-detail.html
  openslides/motions/static/templates/motions/motion-list.html
Labels: needs review

#3957 Creating / Editing / Showing statute paragraph amendments
  client/src/app/core/marked-translations.ts
  client/src/app/shared/models/motions/motion.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  openslides/motions/config_variables.py
  openslides/motions/serializers.py
Labels: client, high

#4021 fix douple elements
  openslides/utils/cache_providers.py
  tests/integration/utils/test_consumers.py
Labels: server

#4025 add shift-enter shortcut
  AUTHORS
  client/.prettierrc
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#4026 moving http-post to repository
  client/src/app/site/motions/components/motion-comments/motion-comments.component.ts
  client/src/app/site/motions/services/motion-comment-section-repository.service.ts
Labels: clean up, client

#4030 Fixed style issues introduced with #4025
  client/.prettierrc
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
Labels: clean up, client

#4018 angular2 tree
  client/package.json
  client/src/app/shared/components/sorting-tree/sorting-tree.component.html
  client/src/app/shared/components/sorting-tree/sorting-tree.component.spec.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/motions/components/call-list/call-list.component.html
  client/src/app/site/motions/components/call-list/call-list.component.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/styles.scss
  openslides/motions/views.py
Labels: client

#4016 Do not try to access the database during migrations
  openslides/core/apps.py
Labels: server

#4032 new configs for statute amendments; improved the majorityMethod confi…
  client/src/app/core/services/config.service.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.ts
  client/src/app/site/config/models/view-config.ts
  client/src/app/site/config/services/config-repository.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  openslides/assignments/config_variables.py
  openslides/core/config.py
  openslides/motions/config_variables.py
  openslides/poll/majority.py
Labels: high

#4029 add csv for motions
  client/src/app/core/services/csv-export.service.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/assets/i18n/cs.json
  client/src/assets/i18n/cs.po
  client/src/assets/i18n/de.json
  client/src/assets/i18n/de.po
  client/src/assets/i18n/template-en.pot
Labels: server

#4033 OpenSlides ♥ Trees
  client/src/app/core/services/tree.service.spec.ts
  client/src/app/core/services/tree.service.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/site/base/base-repository.ts
  client/src/app/site/motions/components/call-list/call-list.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-repository.service.ts
Labels: client, high

#3993 multiSelect on listViews
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/assignment-list/assignment-list.component.html
  client/src/app/site/assignments/assignment-list/assignment-list.component.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/services/user-repository.service.ts
  client/src/styles.scss
Labels: client

#3975 Amendments
  client/src/app/shared/models/motions/workflow-state.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.scss
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.spec.ts
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.scss
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-motion-amended-paragraph.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/motions/motions.module.ts
  client/src/app/site/motions/services/diff.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  openslides/motions/migrations/0016_merge_amendment_into_final.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  openslides/motions/signals.py
Labels: client, high

#4044 fixing ts version due to conflict
  client/package.json
Labels: client

#3977 OpenSlides history mode
  CHANGELOG.rst
  client/src/app/core/query-params.ts
  client/src/app/core/services/app-load.service.ts
  client/src/app/core/services/data-store.service.ts
  client/src/app/core/services/http.service.ts
  client/src/app/core/services/openslides-status.service.spec.ts
  client/src/app/core/services/openslides-status.service.ts
  client/src/app/core/services/storage.service.ts
  client/src/app/core/services/time-travel.service.spec.ts
  client/src/app/core/services/time-travel.service.ts
  client/src/app/core/services/websocket.service.ts
  client/src/app/shared/models/core/history.ts
  client/src/app/site/assignments/services/assignment-repository.service.spec.ts
  client/src/app/site/assignments/services/assignment-repository.service.ts
  client/src/app/site/base/base-repository.ts
  client/src/app/site/base/base-view.ts
  client/src/app/site/config/services/config-repository.service.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.scss
  client/src/app/site/history/components/history-list/history-list.component.spec.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/history/history-routing.module.ts
  client/src/app/site/history/history.config.ts
  client/src/app/site/history/history.module.ts
  client/src/app/site/history/models/view-history.ts
  client/src/app/site/history/services/history-repository.service.spec.ts
  client/src/app/site/history/services/history-repository.service.ts
  client/src/app/site/mediafiles/services/mediafile-repository.service.ts
  client/src/app/site/motions/services/category-repository.service.ts
  client/src/app/site/motions/services/change-recommendation-repository.service.ts
  client/src/app/site/motions/services/local-permissions.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/app/site/motions/services/statute-paragraph-repository.service.ts
  client/src/app/site/site-routing.module.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.ts
  client/src/app/site/tags/services/tag-repository.service.ts
  client/src/app/site/users/services/group-repository.service.ts
  client/src/app/site/users/services/user-repository.service.ts
  openslides/core/access_permissions.py
  openslides/core/apps.py
  openslides/core/migrations/0009_auto_20181118_2126.py
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/core/urls.py
  openslides/core/views.py
  openslides/motions/signals.py
  openslides/motions/views.py
  openslides/users/models.py
  openslides/users/signals.py
  openslides/users/views.py
  openslides/utils/autoupdate.py
  openslides/utils/projector.py
  tests/integration/helpers.py
  tests/integration/utils/test_consumers.py
  tests/unit/motions/test_views.py
  tests/unit/users/test_models.py
Labels: high, server

#4046 Updated translations.
  client/src/app/core/marked-translations.ts
  client/src/app/core/services/http.service.ts
  client/src/app/shared/components/prompt-dialog/prompt-dialog.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/assignments/assignment-list/assignment-list.component.html
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/components/call-list/call-list.component.html
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.html
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/assets/i18n/cs.json
  client/src/assets/i18n/de.json
  client/src/assets/i18n/de.po
  client/src/assets/i18n/template-en.pot
  openslides/motions/config_variables.py
Labels: client
