Repository OpenSlides/OpenSlides, pull requests merged in 2019-07, with the labels that each got.

#4815 Enhance Choice service.
  client/src/app/core/ui-services/choice.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.html
  client/src/app/shared/components/choice-dialog/choice-dialog.component.scss
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
Labels: client

#4816 Add motion PDF TOC subcategories
  client/src/app/core/ui-services/pdf-document.service.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
Labels: motions

#4811 Show from recommendation referencing motions
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/slides/motions/motion/motion-slide-data.ts
  client/src/app/slides/motions/motion/motion-slide.component.html
  client/src/app/slides/motions/motion/motion-slide.component.ts
  openslides/motions/projector.py
  tests/unit/motions/test_projector.py
Labels: client, users

#4822 Add more option to motion export
  client/src/app/core/ui-services/pdf-document.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, motions

#4827 Hotfix clearing of extensions on navigation
  client/src/app/shared/components/extension-field/extension-field.component.ts
Labels: bug, client

#4828 Increase build budget to prevent warning
  client/angular.json
Labels: client

#4829 Use ID in search value and sort view
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/shared/components/sorting-list/sorting-list.component.html
Labels: client

#4834 Sort global search results
  client/src/app/core/ui-services/search.service.ts
Labels: client

#4833 Enhance motion extension field
  client/src/app/shared/components/extension-field/extension-field.component.html
  client/src/app/shared/components/extension-field/extension-field.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#4840 Downgrade exceljs to 1.10.0
  client/README.md
  client/package.json
Labels: client, xlsx

#4839 Prevent motion-detail jumps
  client/src/app/shared/components/extension-field/extension-field.component.ts
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/site/motions/modules/category/components/category-motions-sort/category-motions-sort.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client, motions

#4832 Show supporters in motion pdf
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, pdf

#4821 Directories and access permissions for mediafiles
  client/src/app/core/core-services/data-store.service.ts
  client/src/app/core/repositories/base-has-content-object-repository.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/ui-services/media-manage.service.ts
  client/src/app/shared/components/media-upload-content/media-upload-content.component.html
  client/src/app/shared/components/media-upload-content/media-upload-content.component.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/shared/models/mediafiles/mediafile.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/mediafiles/components/media-upload/media-upload.component.html
  client/src/app/site/mediafiles/components/media-upload/media-upload.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss-theme.scss
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/mediafiles/mediafile.config.ts
  client/src/app/site/mediafiles/mediafiles-routing.module.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/mediafiles/services/mediafile-filter.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.scss
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/styles.scss
  openslides/agenda/migrations/0006_auto_20190119_1425.py
  openslides/agenda/models.py
  openslides/assignments/migrations/0006_auto_20190119_1425.py
  openslides/assignments/models.py
  openslides/core/migrations/0012_auto_20190119_1425.py
  openslides/mediafiles/access_permissions.py
  openslides/mediafiles/apps.py
  openslides/mediafiles/config.py
  openslides/mediafiles/migrations/0004_directories_and_permissions_1.py
  openslides/mediafiles/migrations/0005_directories_and_permissions_2.py
  openslides/mediafiles/migrations/0006_directories_and_permissions_3.py
  openslides/mediafiles/models.py
  openslides/mediafiles/projector.py
  openslides/mediafiles/serializers.py
  openslides/mediafiles/views.py
  openslides/motions/migrations/0020_auto_20190119_1425.py
  openslides/motions/models.py
  openslides/users/migrations/0010_auto_20190119_1447.py
  openslides/users/models.py
  openslides/users/signals.py
  openslides/utils/models.py
  tests/integration/mediafiles/test_viewset.py
  tests/integration/users/test_viewset.py
Labels: client, high, mediafiles, server

#4848 Fix mediafiles for non superadmins
  openslides/mediafiles/access_permissions.py
  openslides/mediafiles/apps.py
  openslides/utils/auth.py
Labels: high

#4855 Add file manager patches for firefox
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/site/base/base-view.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
Labels: client

#4850 Exporting comments in CSV
  client/src/app/core/ui-services/csv-export.service.ts
  client/src/app/shared/utils/reconvert-chars.ts
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-import.service.ts
Labels: client

#4842 Removes the second row for the headbar
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.scss-theme.scss
  client/src/styles.scss
Labels: client

#4846 Enhance subcategories
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/shared/components/icon-container/icon-container.component.scss
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.html
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.scss
  client/src/app/site/motions/models/view-category.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/styles.scss
Labels: client, motions

#4844 fixing multiselect sort in sorting lists
  client/src/app/shared/components/sorting-list/sorting-list.component.ts
Labels: client

#4856 Fixes some autocompleted inputs
  client/src/app/shared/components/extension-field/extension-field.component.html
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.html
  client/src/app/site/login/components/reset-password/reset-password.component.html
  client/src/app/site/users/components/password/password.component.html
  client/src/app/site/users/components/password/password.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
Labels: client

#4858 Little fixes
  client/src/app/site/topics/components/topic-detail/topic-detail.component.ts
  client/src/app/site/users/components/group-list/group-list.component.html
  client/src/app/site/users/components/group-list/group-list.component.ts
  openslides/assignments/serializers.py
Labels: client

#4792 Form validation
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/shared/validators/custom-validators.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.html
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/motions/modules/motion-comment-section/motion-comment-section-list.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
Labels: client

#4837 Projector improvements
  client/src/app/core/core-services/projector-data.service.ts
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/projector/projector.component.scss
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/shared/models/core/projector.ts
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.html
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.ts
  client/src/app/site/projector/models/view-projector.ts
  openslides/core/config_variables.py
  openslides/core/migrations/0025_projector_color.py
  openslides/core/models.py
  openslides/core/serializers.py
Labels: client, server

#4841 Refactores the 'global search'
  client/src/app/core/ui-services/search.service.ts
  client/src/app/site/common/components/search/search.component.html
  client/src/app/site/common/components/search/search.component.scss
  client/src/app/site/common/components/search/search.component.ts
Labels: client

#4864 Added logo and font migrations
  openslides/mediafiles/migrations/0005_directories_and_permissions_2.py
Labels: server

#4863 Implement NGrids filter function
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.scss
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/base/base-list-view.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/styles.scss
Labels: client

#4865 sorting of motion comment sections
  client/src/app/core/repositories/motions/motion-comment-section-repository.service.ts
  client/src/app/shared/models/motions/motion-comment-section.ts
  client/src/app/site/motions/models/view-motion-comment-section.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.scss
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.spec.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-sort/motion-comment-section-sort.component.html
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-sort/motion-comment-section-sort.component.scss
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-sort/motion-comment-section-sort.component.spec.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-sort/motion-comment-section-sort.component.ts
  client/src/app/site/motions/modules/motion-comment-section/motion-comment-section-routing.module.ts
  client/src/app/site/motions/modules/motion-comment-section/motion-comment-section.module.ts
  openslides/motions/migrations/0029_motioncommentsection_weight.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  openslides/motions/views.py
  tests/integration/motions/test_viewset.py
Labels: client, server

#4861 Bulk views for users: state, password and delete
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  openslides/users/models.py
  openslides/users/serializers.py
  openslides/users/views.py
  tests/integration/users/test_viewset.py
  tests/unit/users/test_models.py
Labels: client, server

#4867 Add permissions to media files
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
Labels: client

#4870 Hotfix mediafiles for firefox
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
Labels: client

#4871 Cleanup unused permissions
  openslides/core/apps.py
  openslides/core/signals.py
Labels: server

#4876 Fix PDF TOC header
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
Labels: client, pdf

#4875 Add various UI refinement
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/assets/styles/global-components-style.scss
  client/src/styles.scss
Labels: client

#4843 Fixes dynamic growing cells in workflows
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/models/view-workflow.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.scss
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
  client/src/app/slides/motions/motion-block/motion-block-slide.component.ts
  openslides/motions/migrations/0030_state_css_classes_1.py
  openslides/motions/migrations/0031_state_css_classes_2.py
  openslides/motions/models.py
  openslides/motions/signals.py
  tests/unit/motions/test_projector.py
Labels: client

#4860 Implements a custom sorting for categories
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
Labels: client

#4868 Group add/remove bulk view
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  openslides/users/views.py
  tests/integration/users/test_viewset.py
Labels: client, server

#4879 Add better change detection to MediaFiles
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/common/components/global-spinner/global-spinner.component.ts
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
Labels: client

#4882 Saves the value of the local search in 'list-view-table'
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/shared/components/rounded-input/rounded-input.component.html
  client/src/app/shared/components/rounded-input/rounded-input.component.scss
  client/src/app/shared/components/rounded-input/rounded-input.component.spec.ts
  client/src/app/shared/components/rounded-input/rounded-input.component.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
Labels: client

#4884 Added IsSuperAdmin directive
  client/src/app/core/core-services/operator.service.ts
  client/src/app/shared/directives/is-super-admin.directive.spec.ts
  client/src/app/shared/directives/is-super-admin.directive.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/common/components/legal-notice/legal-notice.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.ts
  openslides/core/websocket.py
Labels: client

#4872 Restarting the id sequence for postgresql
  openslides/users/db.py
  openslides/users/migrations/0007_superadmin.py
  openslides/users/migrations/0011_postgresql_auth_group_id_sequence.py
  openslides/users/signals.py
Labels: server

#4885 Exports the settings for the dialogs to a separate file.
  client/src/app/core/ui-services/choice.service.ts
  client/src/app/shared/components/attachment-control/attachment-control.component.ts
  client/src/app/shared/components/copyright-sign/copyright-sign.component.ts
  client/src/app/shared/utils/dialog-settings.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/modules/category/components/category-detail/category-detail.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/users/components/group-list/group-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4886 Adds icons to display status 'inactive', 'is present' and 'is committee'
  client/src/app/site/base/base-list-view.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.scss
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.scss
Labels: client, users

#4887 Updates the projector
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.scss
  openslides/core/views.py
Labels: client, projector
