Repository OpenSlides/OpenSlides, pull requests merged in 2019-10, with the labels that each got.

#5065 Refresh DataSource filter and sort
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
Labels: client, high

#5063 Extends the title of the agenda-items
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/base-is-agenda-item-and-list-of-speakers-content-object-repository.ts
  client/src/app/core/repositories/base-is-agenda-item-content-object-repository.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.scss
  client/src/app/site/base/base-view-model-with-agenda-item-and-list-of-speakers.ts
Labels: agenda, client, high

#5064 Enhances the autoupdate of projector by change-id
  client/src/app/core/core-services/projector-data.service.ts
  openslides/core/websocket.py
  openslides/utils/autoupdate.py
  openslides/utils/consumers.py
  tests/integration/utils/test_consumers.py
Labels: high, projector, server

#5049 Improves travis a little bit
  .travis.yml
Labels: client, travis

#5072 Fix flickering in tables
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/styles.scss
Labels: client

#5070 Fix format motions hidden change discrepancy
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/diff.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: high, motions, pdf

#5048 Adjust ng test to be more serverfriendly
  .travis.yml
  client/karma.conf.js
  client/package.json
Labels: client, needs discussion, travis

#5041 Separates the menu for multi-select of motions
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.spec.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.spec.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/shared-motion/motion-multiselect-actions/motion-multiselect-actions.component.html
  client/src/app/site/motions/modules/shared-motion/motion-multiselect-actions/motion-multiselect-actions.component.scss
  client/src/app/site/motions/modules/shared-motion/motion-multiselect-actions/motion-multiselect-actions.component.spec.ts
  client/src/app/site/motions/modules/shared-motion/motion-multiselect-actions/motion-multiselect-actions.component.ts
  client/src/app/site/motions/modules/shared-motion/shared-motion.module.ts
Labels: client, feature, motions

#5074 use manual cd in motion detail
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#5030 Add custom date pipe
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/pipes/localized-date.pipe.spec.ts
  client/src/app/shared/pipes/localized-date.pipe.ts
  client/src/app/shared/shared.module.ts
Labels: client, needs discussion, projector

#5076 Fixed readding last speaker
  openslides/agenda/views.py
  tests/integration/agenda/test_viewset.py
Labels: agenda, server

#5073 Closing websocket connections to unknown urls
  openslides/routing.py
  openslides/utils/consumers.py
Labels: server

#5075 Added motion export option for personal note and fixed export error
  client/src/app/core/pdf-services/html-to-pdf.service.ts
  client/src/app/core/pdf-services/pdf-worker.worker.ts
  client/src/app/core/repositories/motions/change-recommendation-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.spec.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/motion-edit-notification.ts
  client/src/app/site/motions/motion-import-export-order.ts
  client/src/app/site/motions/motions.constants.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-export.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/services/motion-xlsx-export.service.ts
  client/src/app/slides/motions/motion/motion-slide-data.ts
  client/src/app/slides/motions/motion/motion-slide.component.ts
Labels: client

#5000 [WIP] saml integration
  .travis.yml
  client/src/app/core/core-services/auth.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/login-data.service.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/site/login/components/login-mask/login-mask.component.html
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/models/view-user.ts
  client/src/app/site/users/services/user-filter-list.service.ts
  openslides/__main__.py
  openslides/asgi.py
  openslides/core/apps.py
  openslides/saml/README.md
  openslides/saml/__init__.py
  openslides/saml/apps.py
  openslides/saml/exceptions.py
  openslides/saml/management/__init__.py
  openslides/saml/management/commands/__init__.py
  openslides/saml/management/commands/create-saml-settings.py
  openslides/saml/saml_settings.json.tpl
  openslides/saml/settings.py
  openslides/saml/urls.py
  openslides/saml/user_backend.py
  openslides/saml/views.py
  openslides/urls_apps.py
  openslides/users/access_permissions.py
  openslides/users/apps.py
  openslides/users/migrations/0012_user_auth_type.py
  openslides/users/models.py
  openslides/users/serializers.py
  openslides/users/user_backend.py
  openslides/users/views.py
  openslides/utils/cache.py
  openslides/utils/constants.py
  openslides/utils/settings.py.tpl
  openslides/utils/startup.py
  setup.cfg
  tests/conftest.py
  tests/example_data_generator/management/commands/create-example-data.py
  tests/integration/users/test_views.py
  tests/unit/users/test_user_backend.py
Labels: client, feature, server

#5084 Adds filtering by collection as a new filter for the agenda
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
Labels: agenda, client

#5093 Fixes python3.7 tests
  openslides/agenda/signals.py
  openslides/global_settings.py
  openslides/motions/models.py
  openslides/utils/cache.py
  openslides/utils/projector.py
  openslides/utils/websocket.py
  tests/integration/motions/test_viewset.py
Labels: server, travis

#5092 Fixes decoding caused by exceeding stack size
  client/src/app/core/core-services/websocket.service.ts
Labels: client, high

#5087 Repair motion filter for proxies
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: bug, high, motions

#5096 Added safety check before reset in config
  client/src/app/site/config/components/config-list/config-list.component.ts
Labels: client

#5094 Sets the subtitle as a second line in agenda
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
Labels: agenda, client

#5083 Replaces the question-marks in config with hints
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.scss
  client/src/app/site/config/components/config-field/config-field.component.scss-theme.scss
  client/src/assets/styles/global-components-style.scss
  client/src/styles.scss
Labels: client, config

#5086 Adds the 'edit-mode' to start, legal-notice and privacy-policy
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.html
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.ts
  client/src/app/shared/components/privacy-policy-content/privacy-policy-content.component.html
  client/src/app/shared/components/privacy-policy-content/privacy-policy-content.component.ts
  client/src/app/site/common/components/legal-notice/legal-notice.component.html
  client/src/app/site/common/components/legal-notice/legal-notice.component.ts
  client/src/app/site/common/components/privacy-policy/privacy-policy.component.html
  client/src/app/site/common/components/privacy-policy/privacy-policy.component.ts
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/common/components/start/start.component.ts
Labels: client, config

#5095 Added testing for named and pseudoanonymous assignment voting
  openslides/assignments/access_permissions.py
  openslides/assignments/views.py
  openslides/motions/access_permissions.py
  openslides/poll/access_permissions.py
  openslides/poll/views.py
  tests/integration/assignments/test_polls.py
  tests/integration/motions/test_polls.py
Labels: server, tests
