Repository OpenSlides/OpenSlides, pull requests merged in 2019-09, with the labels that each got.

#4962 Just autoupdate changed models on sorting
  openslides/utils/views.py
Labels: server

#4961 Logging prefix and handling redis connection errors
  openslides/core/apps.py
  openslides/core/signals.py
  openslides/utils/cache.py
  openslides/utils/cache_providers.py
  openslides/utils/consumers.py
  openslides/utils/logging.py
  openslides/utils/models.py
  openslides/utils/redis.py
  openslides/utils/schema_version.py
  openslides/utils/stats.py
Labels: server

#4963 Update to angular 8.2
  .travis.yml
  client/README.md
  client/package.json
  client/src/app/app.module.ts
  client/src/app/core/ui-services/base-import.service.ts
Labels: client

#4960 Improves some user-interfaces for motion-detail
  client/src/app/shared/components/icon-container/icon-container.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.scss
Labels: client

#4973 Improves the spinner
  client/src/app/app.component.ts
  client/src/app/core/ui-services/overlay.service.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#4949 Cleans up the stylesheets a little bit
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/shared/components/rounded-input/rounded-input.component.ts
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.scss
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.html
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/common/components/super-search/super-search.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.scss
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.scss
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.scss
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.scss
  client/src/app/site/projector/components/message-controls/message-controls.component.scss
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.scss
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.scss
  client/src/app/slides/core/projector-message/projector-message-slide.component.scss
  client/src/app/slides/core/projector-message/projector-message-slide.component.ts
  client/src/app/slides/motions/motion/motion-slide.component.scss
  client/src/app/slides/motions/motion/motion-slide.component.ts
  client/src/assets/styles/custom-button-styles.scss
  client/src/assets/styles/motion-styles-common.scss
  client/src/assets/styles/poll-common-styles.scss
  client/src/styles.scss
Labels: client

#4977 Fixes the expansion panel layout
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.html
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.scss
Labels: client

#4978 Fixes permissions for motion-blocks
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
Labels: client

#4974 Add sort service for amendments
  client/src/app/core/core-services/relation-manager.service.ts
  client/src/app/core/definitions/relations.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/site/assignments/services/assignment-sort-list.service.ts
  client/src/app/site/mediafiles/services/mediafiles-sort-list.service.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/services/amendment-sort-list.service.spec.ts
  client/src/app/site/motions/services/amendment-sort-list.service.ts
  client/src/app/site/motions/services/motion-block-sort.service.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  client/src/app/site/users/services/user-sort-list.service.ts
Labels: client, motions

#4976 Improves the global search to find IDs
  client/src/app/core/ui-services/search.service.ts
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/site/common/components/super-search/super-search.component.html
  client/src/app/site/common/components/super-search/super-search.component.ts
  client/src/app/site/motions/models/view-category.ts
  client/src/app/site/site.component.ts
Labels: client

#4983 Adds the correct icon to the mobile action button
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
Labels: client

#4984 Reorder motion list menu
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
Labels: client

#4985 Add more permission checks to file manager
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
Labels: client, mediafiles

#4991 Adds a variable to hide the motion-text on projector
  client/src/app/slides/motions/motion/motion-slide.component.html
  client/src/app/slides/motions/motion/motion-slide.component.ts
  openslides/motions/config_variables.py
  openslides/motions/projector.py
Labels: client

#4989 Add the title too the amendments page
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.scss
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/styles.scss
Labels: client

#4996 Disables the animations
  client/src/app/shared/animations.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
Labels: client

#4997 Changes the order of states in filter
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client

#4979 Implements the possibility to sort trees by a given property
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/core/ui-services/base-sort.service.spec.ts
  client/src/app/core/ui-services/base-sort.service.ts
  client/src/app/core/ui-services/tree-sort.service.spec.ts
  client/src/app/core/ui-services/tree-sort.service.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/site/assignments/services/assignment-sort-list.service.ts
  client/src/app/site/base/sort-tree.component.ts
  client/src/app/site/mediafiles/services/mediafiles-sort-list.service.ts
  client/src/app/site/motions/modules/call-list/call-list.component.html
  client/src/app/site/motions/modules/call-list/call-list.component.ts
  client/src/app/site/motions/services/amendment-sort-list.service.ts
  client/src/app/site/motions/services/motion-block-sort.service.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  client/src/app/site/users/services/user-sort-list.service.ts
Labels: client

#5001 Removes transition of 'meta-text-block'
  client/src/app/shared/components/meta-text-block/meta-text-block.component.scss
Labels: client

#5016 Ensures breaking the label of 'election-state'
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.scss
Labels: client

#4993 Implements 'traffic lights' to the countdown-time
  client/src/app/shared/components/contdown-time/countdown-time.component.html
  client/src/app/shared/components/contdown-time/countdown-time.component.scss
  client/src/app/shared/components/contdown-time/countdown-time.component.ts
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.scss
  client/src/app/site/projector/models/view-countdown.ts
  client/src/app/slides/core/countdown/countdown-slide.component.html
  client/src/app/slides/core/countdown/countdown-slide.component.scss
Labels: client

#5017 Fixes the elections and prepares for future changes
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
Labels: assignments, client, high

#5019 Changes the calculation of majority-methods
  client/src/app/core/ui-services/poll.service.ts
  client/src/app/site/motions/services/motion-poll.service.ts
Labels: client

#4982 More mobile friendly lists
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#5023 Catch and show line numbering errors
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
Labels: client

#5022 Fixes high cpu usage on 'projector-detail'
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/site.component.ts
Labels: client, projector

#5025 Adjust workflow state naming
  client/src/app/core/translate/marked-translations.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
Labels: client

#5031 Fixes a path issue in the projector
  client/src/app/slides/mediafiles/mediafile/mediafile-slide.component.ts
Labels: bug, client, high, projector

#5029 Fixes uggly opening of motion-card
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.scss
Labels: client

#5033 Sets default display-type on 'projector-button'
  client/src/app/shared/components/contdown-time/countdown-time.component.ts
Labels: client

#5034 Fixes seeing list of speakers in topic-detail
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
Labels: client

#5026 Add trust pipe and remove duplicated functions
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.html
  client/src/app/shared/components/preview/preview.component.html
  client/src/app/shared/components/preview/preview.component.ts
  client/src/app/shared/components/privacy-policy-content/privacy-policy-content.component.html
  client/src/app/shared/pipes/trust.pipe.spec.ts
  client/src/app/shared/pipes/trust.pipe.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/common/components/start/start.component.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.ts
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/slides/assignments/assignment/assignment-slide.component.html
  client/src/app/slides/core/projector-message/projector-message-slide.component.html
  client/src/app/slides/core/projector-message/projector-message-slide.component.ts
  client/src/app/slides/motions/motion/motion-slide.component.html
  client/src/app/slides/motions/motion/motion-slide.component.ts
  client/src/app/slides/topics/topic/topic-slide.component.html
  client/src/app/slides/topics/topic/topic-slide.component.ts
Labels: clean up, client

#5038 Scale motion tiles by viewport size
  client/src/app/shared/components/block-tile/block-tile.component.scss
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.scss
  client/src/assets/styles/variables.scss
  client/src/styles.scss
Labels: client

#5036 Adds some more space for the 'speaker-button'
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
Labels: client

#5035 Quick sorting the reference of motions by their identifier
  client/src/app/slides/motions/motion/motion-slide.component.html
  client/src/app/slides/motions/motion/motion-slide.component.ts
Labels: client

#5047 Updates karma to prevent cancelling tests because of timeout
  client/karma.conf.js
Labels: client, travis

#5037 Sets always the title 'Current LOS' if current LOS
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/base/base-view.ts
Labels: client

#5051 Render lists in amendment overview PDF
  client/src/app/site/motions/services/amendment-list-pdf.service.ts
Labels: client

#5052 Fix showing content of amendments
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#5053 Saves the settings for countdown-controls
  client/src/app/core/ui-services/projection-dialog.service.ts
  client/src/app/shared/components/projector-button/projector-button.component.ts
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.ts
Labels: client, projector

#5055 Fix flickering projector button in lists
  client/src/app/shared/components/projector-button/projector-button.component.html
  client/src/app/shared/components/projector-button/projector-button.component.ts
Labels: bug, client

#5056 Adds amendment filter types to motion list
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client

#5002 Build agenda with optional subtitle
  client/package.json
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/base-is-agenda-item-and-list-of-speakers-content-object-repository.ts
  client/src/app/core/repositories/base-is-agenda-item-content-object-repository.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.scss
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.scss
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/base/base-view-model-with-agenda-item-and-list-of-speakers.ts
  client/src/app/site/base/base-view-model-with-agenda-item.ts
  client/src/assets/styles/global-components-style.scss
  openslides/agenda/config_variables.py
Labels: client
