Repository OpenSlides/OpenSlides, pull requests merged in 2019-04, with the labels that each got.

#4540 Track storage fallbacks via count users
  client/src/app/core/local-storage/custom-indexeddb-database.ts
  client/src/app/core/local-storage/storagelock.service.ts
  client/src/app/core/ui-services/count-users.service.ts
  client/src/app/site/common/components/count-users/count-users.component.html
  client/src/app/site/common/services/count-user-statistics.service.ts
Labels: client

#4548 decode only the needed data when calculating the required users
  openslides/core/config.py
  openslides/users/views.py
  openslides/utils/access_permissions.py
  openslides/utils/cache.py
  openslides/utils/cache_providers.py
  openslides/utils/rest_api.py
Labels: server

#4551 Fixed bug that motion reason is required if respective config value i…
  openslides/motions/serializers.py
Labels: server

#4553 Remove motion logs
  openslides/motions/migrations/0023_remove_motion_log.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  openslides/motions/views.py
  tests/integration/motions/test_viewset.py
Labels: clean up, server

#4541 Projectiondefaults, width slider direct save
  .travis.yml
  client/src/app/core/core-services/projector.service.ts
  client/src/app/core/repositories/projector/countdown-repository.service.spec.ts
  client/src/app/core/repositories/projector/countdown-repository.service.ts
  client/src/app/core/repositories/projector/projection-default-repository.service.spec.ts
  client/src/app/core/repositories/projector/projection-default-repository.service.ts
  client/src/app/core/repositories/projector/projector-repository.service.spec.ts
  client/src/app/shared/components/projection-dialog/projection-dialog.component.ts
  client/src/app/shared/models/core/projection-default.ts
  client/src/app/shared/models/core/projector.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/projector/models/view-projection-default.ts
  client/src/app/site/projector/models/view-projector.ts
  client/src/app/site/projector/projector.config.ts
  make/commands.py
  openslides/core/access_permissions.py
  openslides/core/apps.py
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/core/views.py
Labels: client, server

#4552 Fix endless reconnections after a late WhoAmI
  client/src/app/core/core-services/websocket.service.ts
Labels: client

#4554 Export motions as excel document (.xlsx)
  client/package.json
  client/src/app/core/ui-services/xlsx-export-service.service.spec.ts
  client/src/app/core/ui-services/xlsx-export-service.service.ts
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-xlsx-export.service.spec.ts
  client/src/app/site/motions/services/motion-xlsx-export.service.ts
  client/tsconfig.json
Labels: client, feature

#4532 Update python requirements
  requirements/development.txt
  requirements/production.txt
Labels: server

#4570 Motion Amendments into PDF
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, pdf

#4569 Enlarge page size
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/assignment-list/assignment-list.component.html
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
Labels: client

#4561 Checks the permissions
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
Labels: client, mediafiles

#4568 set surrounding motions according to sorting in list view (fixes #4566)
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#4557 Remove unnecessary view (fixed #4549)
  openslides/agenda/views.py
Labels: clean up, server

#4571 Show sequential number in motion list
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
Labels: client, feature

#4567 export recommendations with extra labels
  client/src/app/core/ui-services/csv-export.service.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-xlsx-export.service.ts
Labels: client

#4461 Add permissions to ListViews
  client/src/app/core/core-services/auth-guard.service.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/common/common-routing.module.ts
  client/src/app/site/common/components/error/error.component.html
  client/src/app/site/common/components/error/error.component.scss
  client/src/app/site/common/components/error/error.component.spec.ts
  client/src/app/site/common/components/error/error.component.ts
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/common/os-common.module.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/mediafiles/mediafiles-routing.module.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/app/site/projector/projector-routing.module.ts
  client/src/app/site/site-routing.module.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/users-routing.module.ts
  openslides/motions/access_permissions.py
Labels: client, server

#4531 Fixes problems with config.key_to_id
  openslides/agenda/projector.py
  openslides/assignments/projector.py
  openslides/core/config.py
  openslides/core/projector.py
  openslides/mediafiles/projector.py
  openslides/motions/projector.py
  openslides/topics/projector.py
  openslides/users/projector.py
  openslides/utils/auth.py
  openslides/utils/projector.py
  tests/integration/helpers.py
  tests/unit/agenda/test_projector.py
  tests/unit/motions/test_projector.py
Labels: bug, server

#4537 assignment detail and list views
  client/src/app/base.component.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/ui-services/poll.service.ts
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.scss
  client/src/app/shared/models/assignments/assignment-user.ts
  client/src/app/shared/models/assignments/assignment.ts
  client/src/app/shared/models/assignments/poll-option.ts
  client/src/app/shared/models/assignments/poll.ts
  client/src/app/site/assignments/assignment-list/assignment-list.component.html
  client/src/app/site/assignments/assignment-list/assignment-list.component.ts
  client/src/app/site/assignments/assignments-routing.module.ts
  client/src/app/site/assignments/assignments.module.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.spec.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll-dialog.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll-dialog.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.spec.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/assignments/services/assignment-filter.service.ts
  client/src/app/site/assignments/services/assignment-poll.service.spec.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-dialog.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/users/components/group-list/group-list.component.html
  client/src/styles.scss
  openslides/assignments/serializers.py
  openslides/utils/rest_api.py
Labels: assignments, client

#4521 Refactored state access level by renaming state field to restriction.
  CHANGELOG.rst
  client/src/app/shared/models/motions/workflow-state.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  openslides/motions/access_permissions.py
  openslides/motions/migrations/0024_state_restriction_1.py
  openslides/motions/migrations/0024_state_restriction_2.py
  openslides/motions/migrations/0024_state_restriction_3.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  tests/integration/motions/test_viewset.py
  tests/unit/motions/test_projector.py
Labels: high, server

#4583 Protect element fields from the projector model. Fixes creation of
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/core/views.py
  tests/common_groups.py
  tests/integration/core/test_viewset.py
  tests/integration/motions/test_viewset.py
Labels: needs review

#4589 don't autoupdate detail forms during editing
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: bug, client, high

#4573 Creating multi-paragraph amendments
  client/src/app/core/marked-translations.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/linenumbering.service.ts
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/assets/i18n/de.json
  client/src/assets/i18n/de.po
  client/src/assets/i18n/template-en.pot
  openslides/motions/config_variables.py
Labels: needs review

#4591 Adds a 'tag' filter to motion lists
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client, motions

#4593 Multi select motion export
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
Labels: client, motions

#4604 Hotfix exporting of selected motions
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
Labels: client

#4600 fix motion import oddity
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.html
Labels: client

#4602 Refresh clients cache when the database was migrated
  client/src/app/app.component.ts
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/constants.service.spec.ts
  client/src/app/core/core-services/constants.service.ts
  client/src/app/core/core-services/data-store-upgrade.service.spec.ts
  client/src/app/core/core-services/data-store-upgrade.service.ts
  client/src/app/core/core-services/websocket.service.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/ui-services/config.service.ts
  client/src/app/shared/models/agenda/item.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/services/assignment-filter.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/services/local-permissions.service.ts
  openslides/core/apps.py
Labels: client, feature, server

#4577 Assignments layout and fixes
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/ui-services/poll.service.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.spec.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.scss
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/assignments/models/view-assignment-related-user.ts
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/assignments/services/assignment-filter.service.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/site-routing.module.ts
  openslides/assignments/apps.py
Labels: assignments, client

#4351 cleanup of TODOS
  client/src/app/base.component.ts
  client/src/app/core/core-services/storage.service.ts
  client/src/app/core/repositories/motions/motion-block-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/shared/components/os-sort-filter-bar/filter-menu/filter-menu.component.ts
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.ts
  client/src/app/site/agenda/agenda-import.service.ts
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
  client/src/app/site/agenda/services/agenda-pdf.service.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/assignments/services/assignment-filter.service.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/mediafiles/services/mediafile-filter.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/models/view-user.ts
  client/src/app/site/users/services/user-filter-list.service.ts
  client/src/app/site/users/services/user-sort-list.service.ts
Labels: clean up, client, low

#4605 Enhance excel exporting
  client/package.json
  client/src/app/core/ui-services/xlsx-export-service.service.ts
  client/src/app/site/motions/services/motion-xlsx-export.service.ts
Labels: client

#4601 call list improvements
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#4575 Implements filtering the `sorting-tree.component`
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.html
  client/src/app/shared/components/sorting-tree/sorting-tree.component.scss
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.html
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.scss
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.ts
  client/src/app/site/motions/modules/call-list/call-list.component.html
  client/src/styles.scss
Labels: client

#4609 sort import/export columns for motions
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.html
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/motion-import-export-order.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/services/motion-xlsx-export.service.ts
Labels: client

#4595 add tag display in several views
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/site/motions/modules/call-list/call-list.component.html
  client/src/app/site/motions/modules/call-list/call-list.component.scss
  client/src/app/site/motions/modules/call-list/call-list.component.ts
  client/src/app/site/motions/modules/category/components/category-sort/category-sort.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
Labels: client

#4611 Fix AuthGuard race conditions and false redirects
  client/src/app/core/core-services/auth-guard.service.ts
  client/src/app/core/core-services/auth.service.ts
  client/src/app/core/core-services/openslides.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/deferred.ts
  client/src/app/shared/components/media-upload-content/media-upload-content.component.html
Labels: client, high

#4619 remove distracting empty mat-chip
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
Labels: client

#4618 Fixes showing the arrow to expand.
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
Labels: client

#4606 Implements a dialog to edit meta information of one motion
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/assets/styles/global-components-style.scss
Labels: client

#4614 verbose error message on missing configs
  client/src/app/core/repositories/config/config-repository.service.ts
Labels: client

#4620 copy parent's tags to a new amendment
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#4613 fix assignment calculations
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/models/view-assignment-poll-option.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
Labels: assignments, client

#4610 Assignment mobile
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
Labels: assignments, client, needs discussion

#4624 Migrate to Angular version 7.2.14
  client/package.json
  client/src/app/shared/components/media-upload-content/media-upload-content.component.html
  client/src/app/site/assignments/assignments-routing.module.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/styles.scss
  client/tsconfig.json
  client/tslint.json
Labels: client

#4608 send autoupdate on state update for motions
  openslides/motions/views.py
Labels: server

#4633 Fixed requesting all data after a connection lost
  client/src/app/core/core-services/autoupdate.service.ts
Labels: client

#4629 Adjust the export order and dialog order
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/motion-import-export-order.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-xlsx-export.service.ts
Labels: client, high

#4628 small assignment layout updates/fixes
  client/src/app/shared/components/projector-button/projector-button.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
Labels: client, high

#4621 Temp Fix creation of Workflow States
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
Labels: client, high

#4615 Silence errors after sending to a closed connection
  openslides/utils/websocket.py
Labels: server

#4638 Fix restriction check for motions
  openslides/motions/access_permissions.py
  openslides/motions/views.py
Labels: server

#4637 Show errors during PDF generation
  client/src/app/core/ui-services/pdf-document.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, pdf

#4617 Create assignment PDF service
  client/src/app/core/ui-services/pdf-document.service.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/assignments/services/assignment-pdf-export.service.spec.ts
  client/src/app/site/assignments/services/assignment-pdf-export.service.ts
  client/src/app/site/assignments/services/assignment-pdf.service.spec.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/users/services/user-pdf.service.ts
Labels: assignments, client, high, pdf

#4635 make comment exportable if readable
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.html
Labels: client

#4634 last_email_sent display and resend email
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.scss
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4627 Add virtual scrolling to statute list
  client/src/app/shared/shared.module.ts
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/styles.scss
Labels: client

#4636 Add attachments to assignments
  client/src/app/core/core-services/view-model-store.service.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/shared/models/assignments/assignment.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/models/view-assignment.ts
  openslides/assignments/migrations/0007_assignment_attachments.py
  openslides/assignments/models.py
  openslides/assignments/serializers.py
  tests/integration/assignments/test_viewset.py
Labels: client, feature, server

#4649 use ParseInt in PDF generation
  client/src/app/core/ui-services/html-to-pdf.service.ts
Labels: client, motions, pdf

#4646 Added button to reset the clients cache
  client/src/app/core/core-services/openslides.service.ts
  client/src/app/core/core-services/websocket.service.ts
  client/src/app/site/common/components/legal-notice/legal-notice.component.html
  client/src/app/site/common/components/legal-notice/legal-notice.component.ts
Labels: client

#4650 Add various extensions to the xlsx exporter
  client/src/app/site/motions/services/motion-xlsx-export.service.ts
Labels: client, xlsx

#4652 Sort motions in categories
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/shared/models/motions/motion.ts
  client/src/app/site/motions/models/view-motion.ts
  openslides/motions/migrations/0025_motion_category_weight.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  openslides/motions/views.py
  tests/integration/motions/test_viewset.py
Labels: client, feature, high, motions, server

#4653 Save motion category weight, handle auto update in categories
  client/src/app/site/motions/modules/category/category-routing.module.ts
  client/src/app/site/motions/modules/category/components/category-sort/category-sort.component.html
  client/src/app/site/motions/modules/category/components/category-sort/category-sort.component.ts
Labels: client, feature, high, motions

#4648 Dynamic a two column layout in motion block slides
  client/src/app/slides/motions/motion-block/motion-block-slide.component.html
  client/src/app/slides/motions/motion-block/motion-block-slide.component.scss
  client/src/app/slides/motions/motion-block/motion-block-slide.component.ts
  openslides/motions/projector.py
Labels: client

#4647 Adds the structure-level and participant-number to the user-list
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.scss
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client, users
