Repository OpenSlides/OpenSlides, pull requests merged in 2019-08, with the labels that each got.

#4883 Add pdf webworker and progress bar
  client/angular.json
  client/src/app/core/pdf-services/base-poll-pdf-service.ts
  client/src/app/core/pdf-services/html-to-pdf.service.spec.ts
  client/src/app/core/pdf-services/html-to-pdf.service.ts
  client/src/app/core/pdf-services/pdf-document.service.spec.ts
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/app/core/pdf-services/pdf-worker.worker.ts
  client/src/app/core/ui-services/progress.service.spec.ts
  client/src/app/core/ui-services/progress.service.ts
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.html
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.scss
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.spec.ts
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/services/assignment-pdf-export.service.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/assignments/services/assignment-poll-pdf.service.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/services/motion-poll-pdf.service.ts
  client/src/app/site/users/services/user-pdf-export.service.ts
  client/src/app/site/users/services/user-pdf.service.ts
  client/tsconfig.app.json
  client/tsconfig.worker.json
Labels: client, pdf

#4891 Correct projector scroll reset
  client/src/app/core/core-services/projector.service.ts
  openslides/core/views.py
Labels: client, projector, server

#4893 Visualize closed lists of speakers
  client/src/app/core/marked-translations.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/speaker-button/speaker-button.component.html
  client/src/app/shared/components/speaker-button/speaker-button.component.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
Labels: client

#4894 Change the size of search-filter-bar
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/styles.scss
Labels: client

#4895 Adjust compodoc to the new location of tsconfig
  client/package.json
Labels: client, documentation

#4897 Fix user loading in ViewSpeaker
  client/src/app/core/repositories/base-has-content-object-repository.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/agenda/models/view-speaker.ts
Labels: client, high

#4755 Client error handling
  client/src/app/site/base/base-view.ts
Labels: client, needs discussion

#4888 Replaced multiple inline forms with dialogs
  AUTHORS
  client/package.json
  client/src/app/shared/components/agenda-content-object-form/agenda-content-object-form.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
Labels: client

#4896 Major cache rewrite
  .travis.yml
  client/package.json
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/constants.service.ts
  client/src/app/core/core-services/data-store-upgrade.service.ts
  client/src/app/core/core-services/openslides.service.ts
  client/src/app/core/core-services/storage.service.ts
  client/src/app/core/core-services/websocket.service.ts
  openslides/core/apps.py
  openslides/core/config.py
  openslides/core/config_variables.py
  openslides/core/models.py
  openslides/core/views.py
  openslides/core/websocket.py
  openslides/users/views.py
  openslides/utils/access_permissions.py
  openslides/utils/auth.py
  openslides/utils/cache.py
  openslides/utils/cache_providers.py
  openslides/utils/consumers.py
  openslides/utils/middleware.py
  openslides/utils/projector.py
  openslides/utils/rest_api.py
  openslides/utils/schema_version.py
  openslides/utils/settings.py.tpl
  openslides/utils/websocket.py
  tests/conftest.py
  tests/integration/utils/test_consumers.py
  tests/integration/websocket.py
  tests/unit/utils/test_cache.py
Labels: server

#4907 Show subcategory in detail for every permission
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
Labels: bug, client, motions

#4877 Updated translations
  client/src/app/core/marked-translations.ts
  client/src/app/shared/components/speaker-button/speaker-button.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/common/components/search/search.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-sort/motion-comment-section-sort.component.html
  client/src/assets/i18n/de.json
  client/src/assets/i18n/de.po
  client/src/assets/i18n/template-en.pot
Labels: client

#4903 Multiselect in mediafiles
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/shared/components/attachment-control/attachment-control.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/mediafiles/mediafiles-routing.module.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  openslides/mediafiles/views.py
Labels: client, mediafiles

#4898 Cascade categories on delete
  client/src/app/site/motions/modules/category/components/category-detail/category-detail.component.ts
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.ts
  openslides/motions/migrations/0032_category_cascade_delete.py
  openslides/motions/models.py
Labels: client

#4908 Adds the option to filter a list by function-values
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
Labels: client

#4913 Add Smarter motion tiles and filters
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/site/motions/models/view-category.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
Labels: client

#4889 Implemented Virtual Scrolling for Categories
  client/src/app/site/base/base-list-view.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.html
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
Labels: client

#4922 Update NGrid and fix build errors
  .travis.yml
  client/README.md
  client/package.json
Labels: blocker, bug, client

#4917 Fixed two little issues with relations and reverse mapping
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/data-store.service.ts
  client/src/app/core/core-services/relation-manager.service.ts
  client/src/app/core/core-services/time-travel.service.ts
  client/src/app/core/definitions/relations.ts
  client/src/app/core/repositories/agenda/list-of-speakers-repository.service.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/repositories/base-has-content-object-repository.ts
  client/src/app/core/repositories/base-is-agenda-item-and-list-of-speakers-content-object-repository.ts
  client/src/app/core/repositories/base-is-agenda-item-content-object-repository.ts
  client/src/app/core/repositories/base-is-list-of-speakers-content-object-repository.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/core/repositories/motions/motion-block-repository.service.ts
  client/src/app/core/repositories/motions/motion-comment-section-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/motions/state-repository.service.ts
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/models/assignments/assignment-poll-option.ts
  client/src/app/site/assignments/models/view-assignment-poll-option.ts
  openslides/utils/cache_providers.py
Labels: client

#4923 Unify motion block detail
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/services/block-detail-filter-list.service.spec.ts
  client/src/app/site/motions/services/block-detail-filter-list.service.ts
Labels: client, motions

#4924 Add amendment list
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
  client/src/app/site/assignments/services/assignment-filter.service.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list-routing.module.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.scss
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.spec.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.module.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.scss
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-list/motion-list-routing.module.ts
  client/src/app/site/motions/modules/motion-list/motion-list.module.ts
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.scss
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.spec.ts
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/shared-motion/shared-motion.module.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/motions/motions.module.ts
  client/src/app/site/motions/services/amendment-filter-list.service.spec.ts
  client/src/app/site/motions/services/amendment-filter-list.service.ts
  client/src/app/site/motions/services/motion-export.service.spec.ts
  client/src/app/site/motions/services/motion-export.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/styles/motion-list-styles.scss
  client/src/app/site/users/services/user-filter-list.service.ts
Labels: client, motions

#4921 Ensures change id across multiple workers
  openslides/utils/cache.py
  openslides/utils/cache_providers.py
  tests/conftest.py
  tests/integration/utils/test_consumers.py
  tests/unit/utils/cache_provider.py
  tests/unit/utils/test_cache.py
Labels: server

#4925 Added missing error handling
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/personal-note.service.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4926 Add option to hide amendments
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client, motions

#4927 Overwork motion detail UI
  client/src/app/core/ui-services/routing-state.service.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/shared/components/speaker-button/speaker-button.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.html
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.scss
  client/src/styles.scss
Labels: client, motions

#4933 Fixes directories as attachments
  client/src/app/shared/components/agenda-content-object-form/agenda-content-object-form.component.html
  client/src/app/shared/components/attachment-control/attachment-control.component.html
  client/src/app/shared/components/attachment-control/attachment-control.component.ts
  client/src/app/shared/components/extension-field/extension-field.component.html
  client/src/app/shared/components/media-upload-content/media-upload-content.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.spec.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
Labels: client, mediafiles

#4920 Rework config defaults.
  client/src/app/core/translate/marked-translations.ts
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/motions/services/local-permissions.service.ts
  openslides/agenda/config_variables.py
  openslides/assignments/config_variables.py
  openslides/core/apps.py
  openslides/core/config_variables.py
  openslides/motions/config_variables.py
  openslides/motions/models.py
  openslides/users/config_variables.py
  openslides/utils/settings.py.tpl
  tests/integration/motions/test_viewset.py
  tests/old/motions/test_models.py
  tests/settings.py
  tests/unit/motions/test_projector.py
Labels: client, server

#4929 Earlier PDF progress bar
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/app/core/ui-services/progress.service.ts
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.html
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.ts
  client/src/assets/styles/global-components-style.scss
Labels: client

#4934 Fix firefox comment export
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.ts
Labels: client

#4935 Readd filter store keys
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
  client/src/app/site/assignments/services/assignment-filter.service.ts
  client/src/app/site/motions/services/amendment-filter-list.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/users/services/user-filter-list.service.ts
Labels: bug, client

#4940 Exclude urls /rest and /apps from service worker caching.
  client/ngsw-config.json
Labels: client

#4928 Adds compiling to ES5 for IE11
  client/angular.json
  client/package.json
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/polyfills.ts
  client/tsconfig-es5.app.json
Labels: client

#4937 Fix empty PDF TOC page
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
Labels: client, pdf

#4938 Add change signals for the listview
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/shared/components/projector-button/projector-button.component.html
  client/src/app/shared/components/projector-button/projector-button.component.ts
  client/src/app/shared/components/speaker-button/speaker-button.component.ts
Labels: client

#4939 Add speakers-filter to motion list
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client, motions

#4941 Add manual change detection in amendment list
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
Labels: client

#4945 Enhance amendment wizard
  client/src/app/core/ui-services/routing-state.service.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
Labels: client

#4942 Add usage hints to tinymce mobile
  client/src/app/base.component.ts
  client/src/app/shared/components/meta-text-block/meta-text-block.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.html
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
Labels: client

#4943 Prevent wrong bulk-change-state operations
  client/src/app/site/base/base-view.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#4946 Adds a handler for 'sorting-tree's
  client/src/app/shared/components/sorting-tree/sorting-tree.component.html
  client/src/app/shared/components/sorting-tree/sorting-tree.component.scss
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
Labels: client

#4947 Add termination to pdf webworker
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.html
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.scss
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.spec.ts
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.ts
Labels: client, pdf

#4944 Checks, if content is too large and hide it in 'meta-text-block'
  client/package.json
  client/src/app/shared/components/meta-text-block/meta-text-block.component.html
  client/src/app/shared/components/meta-text-block/meta-text-block.component.scss
  client/src/app/shared/components/meta-text-block/meta-text-block.component.ts
  client/src/app/shared/directives/height-resizing.directive.spec.ts
  client/src/app/shared/directives/height-resizing.directive.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.html
  client/src/styles.scss
Labels: client

#4951 Enhance amendment list and routing logic
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/core/ui-services/routing-state.service.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/services/amendment-filter-list.service.ts
Labels: client

#4958 Add scrollable folderbar to mediafile
  client/src/app/shared/components/icon-container/icon-container.component.html
  client/src/app/shared/components/icon-container/icon-container.component.scss
  client/src/app/shared/components/icon-container/icon-container.component.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/styles.scss
Labels: client

#4950 Adds a picker for date and time in config
  client/package.json
  client/src/app/app.component.ts
  client/src/app/shared/date-adapter.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.scss
  client/src/app/site/config/components/config-field/config-field.component.ts
  openslides/core/config_variables.py
Labels: client, server
