Repository OpenSlides/OpenSlides, pull requests merged in 2019-02, with the labels that each got.

#4231 Add custom translation settings
  client/src/app/core/translate/translation-parser.ts
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/config/components/config-list/config-list.component.spec.ts
  client/src/app/site/config/components/custom-translation/custom-translation.component.html
  client/src/app/site/config/components/custom-translation/custom-translation.component.scss
  client/src/app/site/config/components/custom-translation/custom-translation.component.spec.ts
  client/src/app/site/config/components/custom-translation/custom-translation.component.ts
  client/src/app/site/config/config.module.ts
  client/src/app/site/config/models/view-config.ts
Labels: client

#4237 fix restricted_data_cache for elements that exists, but a user is not allowed to see them
  openslides/utils/cache.py
  tests/unit/utils/test_cache.py
Labels: server

#4219 A little bit of cleanup
  client/src/app/core/core-services/servertime.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/ui-services/config.service.ts
  client/src/app/core/ui-services/constants.service.ts
  client/src/app/core/ui-services/diff.service.ts
  client/src/app/core/ui-services/login-data.service.ts
  client/src/app/core/ui-services/personal-note.service.ts
  client/src/app/core/ui-services/theme.service.ts
  client/src/app/shared/components/os-sort-filter-bar/filter-menu/filter-menu.component.ts
  client/src/app/shared/components/os-sort-filter-bar/os-sort-bottom-sheet/os-sort-bottom-sheet.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.ts
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/common/components/start/start.component.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/mediafiles/components/media-upload/media-upload.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/components/call-list/call-list.component.ts
  client/src/app/site/motions/components/category-list/category-list.component.ts
  client/src/app/site/motions/components/manage-submitters/manage-submitters.component.ts
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.spec.ts
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.ts
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/motions/components/motion-comments/motion-comments.component.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/components/motion-detail-original-change-recommendations/motion-detail-original-change-recommendations.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/components/personal-note/personal-note.component.ts
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.ts
  client/src/app/site/motions/services/local-permissions.service.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/motion-poll-pdf.service.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  client/src/app/site/projector/components/countdown-list/countdown-list.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/site.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/group-list/group-list.component.ts
  client/src/app/site/users/components/password/password.component.ts
  client/src/app/site/users/components/presence-detail/presence-detail.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: clean up, client

#4239 Add Tags into motion details
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-motion.ts
Labels: client

#4242 Add amendment info in motion details
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/shared/components/projector-button/projector-button.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#4235 Added new flag for states to hide motions from submitters.
  CHANGELOG.rst
  openslides/motions/access_permissions.py
  openslides/motions/migrations/0021_state_access_level.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  tests/integration/motions/test_viewset.py
  tests/unit/motions/test_projector.py
Labels: high

#4236 Allow set state for submitters in some states.
  CHANGELOG.rst
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/services/local-permissions.service.ts
  openslides/motions/views.py
Labels: high

#4244 call list pdf export
  client/src/app/core/ui-services/pdf-document.service.ts
  client/src/app/site/motions/components/call-list/call-list.component.html
  client/src/app/site/motions/components/call-list/call-list.component.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: high

#4211 Add current list of speakers to agenda-list
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.html
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.ts
Labels: client

#4159 Line highlighting
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.spec.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
Labels: client

#4254 Make sure the cache is ensured before manipulating it
  openslides/utils/cache.py
Labels: server

#4250 pinning typescript to <3.3 - fixes #4249
  client/package.json
Labels: bug, client

#4255 sort 'previous/next motion' by identifier in detail view
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
Labels: client

#4216 Estimated duration, and datetimepicker in config
  client/package.json
  client/src/app/core/repositories/agenda/agenda-repository.service.ts
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.html
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.scss
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.ts
  client/src/app/shared/models/agenda/item.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/styles.scss
Labels: client

#4261 Fix PDF style interpretation
  client/src/app/core/ui-services/html-to-pdf.service.ts
Labels: client, pdf

#4259 Prevent mistakenly closing the window
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
Labels: client

#4252 improve start time and duration display for finished speakers
  client/src/app/core/ui-services/duration.service.ts
  client/src/app/shared/models/agenda/speaker.ts
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.html
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.ts
  client/src/app/site/agenda/models/view-speaker.ts
Labels: client

#4272 seperate motion version migration operations
  openslides/motions/migrations/0011_motion_version.py
  openslides/motions/migrations/0011_motion_version_1.py
  openslides/motions/migrations/0011_motion_version_2.py
  openslides/motions/migrations/0011_motion_version_3.py
  openslides/motions/migrations/0011_motion_version_4.py
  openslides/motions/migrations/0012_motion_comments.py
Labels: server

#4271 fix #4065
  openslides/topics/serializers.py
Labels: server

#4268 Fixes the initial loading of motions and their states
  client/src/app/site/motions/models/view-motion.ts
Labels: client

#4269 export personal note pdf
  client/src/app/site/motions/components/motion-comments/motion-comments.component.html
  client/src/app/site/motions/components/personal-note/personal-note.component.html
  client/src/app/site/motions/components/personal-note/personal-note.component.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#4267 export poll results in motion pdfs
  client/src/app/core/ui-services/poll.service.ts
  client/src/app/site/motions/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#4260 Add motion workflow creator
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/shared/models/motions/workflow-state.ts
  client/src/app/shared/models/motions/workflow.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/components/workflow-detail/workflow-detail.component.scss
  client/src/app/site/motions/components/workflow-detail/workflow-detail.component.spec.ts
  client/src/app/site/motions/components/workflow-detail/workflow-detail.component.ts
  client/src/app/site/motions/components/workflow-list/workflow-list.component.html
  client/src/app/site/motions/components/workflow-list/workflow-list.component.scss
  client/src/app/site/motions/components/workflow-list/workflow-list.component.spec.ts
  client/src/app/site/motions/components/workflow-list/workflow-list.component.ts
  client/src/app/site/motions/models/view-workflow.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/motions/motions.module.ts
Labels: client

#4270 Prevent dialogs to close easily
  client/src/app/core/ui-services/choice.service.ts
  client/src/app/shared/components/copyright-sign/copyright-sign.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/components/motion-poll/motion-poll.component.ts
Labels: client

#4280 Add prompt before deleting workflow states
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/workflow-detail/workflow-detail.component.ts
Labels: client

#4277 Export statute amendments with diff
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, pdf

#4281 Enable CSV export for state and reason
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.scss
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/styles.scss
Labels: client

#4274 various small fixes
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/motions/components/motion-comments/motion-comments.component.html
  client/src/app/site/motions/components/motion-comments/motion-comments.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4276 fixing csv export/import, add option for iso 8895-15
  client/src/app/core/marked-translations.ts
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/core/ui-services/csv-export.service.ts
  client/src/app/core/ui-services/file-export.service.ts
  openslides/core/config_variables.py
Labels: client

#4283 Add search selector for state extensions
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
Labels: client

#4275 sort categories (+ motions) in dropdowns etc.
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/site/motions/components/category-list/category-list.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  openslides/motions/config_variables.py
Labels: client

#4285 translate models
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/agenda/topic-repository.service.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/common/chatmessage-repository.service.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/repositories/history/history-repository.service.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/core/repositories/motions/change-recommendation-repository.service.ts
  client/src/app/core/repositories/motions/motion-block-repository.service.ts
  client/src/app/core/repositories/motions/motion-comment-section-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/motions/statute-paragraph-repository.service.ts
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/core/repositories/projector/countdown-repository.service.ts
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/core/repositories/projector/projectormessage-repository.service.ts
  client/src/app/core/repositories/tags/tag-repository.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/repositories/users/personal-note-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/search.service.ts
  client/src/app/shared/components/empty-selectable.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.spec.ts
  client/src/app/shared/models/agenda/item.ts
  client/src/app/shared/models/assignments/assignment.ts
  client/src/app/shared/models/mediafiles/mediafile.ts
  client/src/app/shared/models/users/group.ts
  client/src/app/shared/models/users/personal-note.ts
  client/src/app/site/agenda/models/view-create-topic.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/models/view-speaker.ts
  client/src/app/site/agenda/models/view-topic.ts
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/base/agenda-information.ts
  client/src/app/site/base/base-agenda-view-model.ts
  client/src/app/site/base/base-projectable-view-model.ts
  client/src/app/site/base/base-view-model.ts
  client/src/app/site/base/displayable.ts
  client/src/app/site/common/models/view-chatmessage.ts
  client/src/app/site/config/models/view-config.ts
  client/src/app/site/history/models/view-history.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/motions/models/view-category.ts
  client/src/app/site/motions/models/view-change-recommendation.ts
  client/src/app/site/motions/models/view-create-motion.ts
  client/src/app/site/motions/models/view-motion-block.ts
  client/src/app/site/motions/models/view-motion-comment-section.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/models/view-statute-paragraph.ts
  client/src/app/site/motions/models/view-workflow.ts
  client/src/app/site/projector/models/view-countdown.ts
  client/src/app/site/projector/models/view-projector.ts
  client/src/app/site/projector/models/view-projectormessage.ts
  client/src/app/site/tags/models/view-tag.ts
  client/src/app/site/users/models/view-group.ts
  client/src/app/site/users/models/view-personal-note.ts
  client/src/app/site/users/models/view-user.ts
Labels: client, high

#4286 Removed OpenSlidesComponent
  client/src/app/base.component.ts
  client/src/app/core/core-services/auth.service.ts
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/notify.service.ts
  client/src/app/core/core-services/offline.service.ts
  client/src/app/core/core-services/openslides.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/projector.service.ts
  client/src/app/core/core-services/servertime.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/ui-services/choice.service.ts
  client/src/app/core/ui-services/config.service.ts
  client/src/app/core/ui-services/constants.service.ts
  client/src/app/core/ui-services/count-users.service.ts
  client/src/app/core/ui-services/login-data.service.ts
  client/src/app/core/ui-services/projection-dialog.service.ts
  client/src/app/core/ui-services/prompt.service.ts
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/openslides.component.ts
  client/src/app/shared/directives/perms.directive.ts
  client/src/app/shared/models/base/base-model.ts
  client/src/app/site/common/services/count-user-statistics.service.ts
Labels: client

#4291 Provide a method to split inline elements at line breaks
  client/src/app/core/ui-services/linenumbering.service.spec.ts
  client/src/app/core/ui-services/linenumbering.service.ts
Labels: client, high

#4253 bulk move motions in call list
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#4300 Add line-numbering fix
  client/src/app/core/ui-services/html-to-pdf.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#4302 Delete agenda items over list
  client/src/app/core/repositories/agenda/item-repository.service.ts
Labels: client

#4308 Fix issues with minification
  client/src/app/core/app-config.ts
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/collectionStringMapper.service.ts
  client/src/app/core/core-services/data-store.service.ts
  client/src/app/core/core-services/time-travel.service.ts
  client/src/app/core/core-services/view-model-store.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/shared/models/base/base-model.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/models/view-topic.ts
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/base/base-view-model.ts
  client/src/app/site/common/models/view-chatmessage.ts
  client/src/app/site/config/models/view-config.ts
  client/src/app/site/history/models/view-history.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/motions/models/view-category.ts
  client/src/app/site/motions/models/view-change-recommendation.ts
  client/src/app/site/motions/models/view-motion-block.ts
  client/src/app/site/motions/models/view-motion-comment-section.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/models/view-statute-paragraph.ts
  client/src/app/site/motions/models/view-workflow.ts
  client/src/app/site/projector/models/view-countdown.ts
  client/src/app/site/projector/models/view-projector.ts
  client/src/app/site/projector/models/view-projectormessage.ts
  client/src/app/site/tags/models/view-tag.ts
  client/src/app/site/users/models/view-group.ts
  client/src/app/site/users/models/view-personal-note.ts
  client/src/app/site/users/models/view-user.ts
Labels: client

#4310 Separate motion state access level migration
  openslides/motions/migrations/0021_state_access_level_1.py
  openslides/motions/migrations/0021_state_access_level_2.py
  openslides/motions/migrations/0021_state_access_level_3.py
Labels: bug, server

#4313 Fixed calllist by removing the attached data from the tree (fixes #4296)
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.ts
  client/src/app/site/motions/components/call-list/call-list.component.ts
Labels: client

#4306 Fix some production mode issues
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/services/local-permissions.service.ts
Labels: client

#4314 Implement missing update behaviour for users
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/users/models/view-user.ts
Labels: client

#4317 fix category filter
  client/src/app/core/ui-services/base-filter-list.service.ts
Labels: client

#4319 print callLists on landscape paper
  client/src/app/core/ui-services/pdf-document.service.ts
Labels: client

#4320 full text search for media file, some permission checks
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/mediafiles/services/mediafile-filter.service.ts
Labels: client, needs review

#4321 Adds "application" to font mime types
  client/src/app/site/mediafiles/models/view-mediafile.ts
Labels: client

#4318 Adds a new IconFont-set
  client/angular.json
  client/package.json
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/assignments.config.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/styles.scss
Labels: client

#4323 fix wrong array handling
  client/src/app/site/motions/models/view-motion.ts
Labels: bug, client

#4301 move favorite star to identifier
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.scss
Labels: client

#4263 rework category list and sorting
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/shared/components/sorting-list/sorting-list.component.ts
  client/src/app/site/motions/components/category-list/category-list.component.html
  client/src/app/site/motions/components/category-list/category-list.component.scss
  client/src/app/site/motions/components/category-list/category-list.component.ts
  client/src/app/site/motions/components/category-sort/category-sort.component.html
  client/src/app/site/motions/components/category-sort/category-sort.component.scss
  client/src/app/site/motions/components/category-sort/category-sort.component.spec.ts
  client/src/app/site/motions/components/category-sort/category-sort.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/motions/motions.module.ts
  client/src/styles.scss
Labels: client

#4329 fix submitter updating
  client/src/app/site/motions/models/view-motion.ts
Labels: bug, client

#4324 call list subheaders
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, dependencies

#4322 direct pdf export and hidden menus for unprivileged users
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/local-permissions.service.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4316 Remove redundant submits
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.html
  client/src/app/site/login/components/reset-password/reset-password.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
Labels: client, needs discussion

#4331 PDF UL OL with line numbers
  client/src/app/core/ui-services/html-to-pdf.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, pdf

#4304 export motion comments (pdf) and sequential numbers (pdf, csv)
  client/src/app/site/motions/components/motion-comments/motion-comments.component.html
  client/src/app/site/motions/components/motion-comments/motion-comments.component.ts
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  openslides/motions/config_variables.py
Labels: client

#4353 Add PDF for paragraph based amendments
  client/src/app/core/ui-services/html-to-pdf.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, pdf

#4273 IE 11 / Edge compatibility
  client/src/index.html
  client/src/polyfills.ts
Labels: client

#4246 Initial support for line numbering and CR in Projector
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/diff.service.ts
  client/src/app/shared/models/motions/view-unified-change.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.spec.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-change-recommendation.ts
  client/src/app/site/motions/models/view-motion-amended-paragraph.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/slides/motions/motion/motions-motion-slide-data.ts
  client/src/app/slides/motions/motion/motions-motion-slide-obj-amendment-paragraph.ts
  client/src/app/slides/motions/motion/motions-motion-slide-obj-change-reco.ts
  client/src/app/slides/motions/motion/motions-motion-slide.component.html
  client/src/app/slides/motions/motion/motions-motion-slide.component.scss
  client/src/app/slides/motions/motion/motions-motion-slide.component.ts
  client/src/assets/styles/motion-styles-common.scss
  openslides/motions/projector.py
  tests/unit/motions/test_projector.py
Labels: client, server

#4362 switch to proper npm run build for client
  Dockerfile
Labels: docker

#4364 Force DataSource to refresh
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/assignment-list/assignment-list.component.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/components/workflow-list/workflow-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4365 user detail page display permission update
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#4366 several fixes and improvements
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/projector/projector.component.scss
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
  openslides/users/views.py
Labels: client, server

#4368 minor improvements
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/services/mediafile-filter.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  openslides/motions/views.py
Labels: client, server

#4371 Add margin to H-tags in PDF
  client/src/app/core/ui-services/html-to-pdf.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
Labels: client

#4370 Fixed permission check for hidden and internal items.
  openslides/agenda/access_permissions.py
Labels: high

#4377 Update to angular 7.2.5
  client/angular.json
  client/package.json
  client/src/assets/tinymce/skins/lightgray/fonts/tinymce.eot
  client/src/assets/tinymce/skins/lightgray/fonts/tinymce.svg
  client/src/assets/tinymce/skins/lightgray/fonts/tinymce.ttf
  client/src/assets/tinymce/skins/lightgray/fonts/tinymce.woff
  client/src/assets/tinymce/skins/lightgray/skin.min.css
  client/src/styles.scss
Labels: client, dependencies

#4379 Add "No." as translateable
  client/package.json
  client/src/app/core/marked-translations.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/users/models/view-user.ts
Labels: client

#4375 Add tags to motion pdf
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, feature, motions, pdf

#4378 Fix PDF-Footer logos
  client/src/app/core/ui-services/pdf-document.service.ts
Labels: client, pdf

#4376 Adds extra cases for PDF CR lists
  client/src/app/core/ui-services/html-to-pdf.service.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
Labels: client

#4373 Added new permission to see the history.
  CHANGELOG.rst
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/history/history.config.ts
  openslides/core/access_permissions.py
  openslides/core/migrations/0017_auto_20190219_2015.py
  openslides/core/models.py
  openslides/core/views.py
  openslides/users/signals.py
Labels: client, server

#4382 Agenda item list slide
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/agenda.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.spec.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/slides/agenda/item-list/item-list-slide-data.ts
  client/src/app/slides/agenda/item-list/item-list-slide.component.html
  client/src/app/slides/agenda/item-list/item-list-slide.component.scss
  client/src/app/slides/agenda/item-list/item-list-slide.component.spec.ts
  client/src/app/slides/agenda/item-list/item-list-slide.component.ts
  client/src/app/slides/agenda/item-list/item-list-slide.module.spec.ts
  client/src/app/slides/agenda/item-list/item-list-slide.module.ts
  client/src/app/slides/all-slide-configurations.ts
  client/src/app/slides/all-slides.ts
  client/src/app/slides/topics/topic/topic-slide-data.ts
  client/src/app/slides/topics/topic/topic-slide.component.html
  client/src/app/slides/topics/topic/topic-slide.component.scss
  client/src/app/slides/topics/topic/topic-slide.component.spec.ts
  client/src/app/slides/topics/topic/topic-slide.component.ts
  client/src/app/slides/topics/topic/topic-slide.module.spec.ts
  client/src/app/slides/topics/topic/topic-slide.module.ts
  client/src/app/slides/users/user/user-slide-data.ts
  client/src/app/slides/users/user/user-slide.component.html
  client/src/app/slides/users/user/user-slide.component.spec.ts
  client/src/app/slides/users/user/user-slide.component.ts
  client/src/app/slides/users/user/user-slide.module.spec.ts
  client/src/app/slides/users/user/user-slide.module.ts
  client/src/app/slides/users/user/users-user-slide-data.ts
  client/src/app/slides/users/user/users-user-slide.component.scss
  client/src/app/slides/users/user/users-user-slide.component.ts
  client/src/app/slides/users/user/users-user-slide.module.spec.ts
  client/src/app/slides/users/user/users-user-slide.module.ts
  openslides/agenda/projector.py
  tests/unit/agenda/test_projector.py
Labels: client, server

#4384 Add mediafiles upload from motion form
  client/src/app/shared/components/media-upload-content/media-upload-content.component.html
  client/src/app/shared/components/media-upload-content/media-upload-content.component.scss
  client/src/app/shared/components/media-upload-content/media-upload-content.component.spec.ts
  client/src/app/shared/components/media-upload-content/media-upload-content.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/mediafiles/components/media-upload/media-upload.component.html
  client/src/app/site/mediafiles/components/media-upload/media-upload.component.scss
  client/src/app/site/mediafiles/components/media-upload/media-upload.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
Labels: client, feature

#4257 Adds notifications if multiple users want to edit the same motion
  client/src/app/site/base/base-view.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-motion-notify.ts
Labels: client

#4386 Preloads modules on site component
  client/src/app/app-routing.module.ts
  client/src/app/shared/utils/app-preloader.ts
  client/src/app/site/site-routing.module.ts
Labels: client

#4381 Current list of speaker slide
  client/src/app/site/common/common-routing.module.ts
  client/src/app/site/common/common.module.spec.ts
  client/src/app/site/common/os-common.module.spec.ts
  client/src/app/site/common/os-common.module.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/site-routing.module.ts
  client/src/app/slides/agenda/base/current-list-of-speakers-slide-data.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide-data.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.component.html
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.component.scss
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.component.spec.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.component.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.module.spec.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.module.ts
  client/src/app/slides/agenda/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.component.html
  client/src/app/slides/agenda/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.component.ts
  client/src/app/slides/agenda/current-list-of-speakers/current-list-of-speakers-slide.component.html
  client/src/app/slides/agenda/current-list-of-speakers/current-list-of-speakers-slide.component.scss
  client/src/app/slides/agenda/current-list-of-speakers/current-list-of-speakers-slide.component.spec.ts
  client/src/app/slides/agenda/current-list-of-speakers/current-list-of-speakers-slide.component.ts
  client/src/app/slides/agenda/current-list-of-speakers/current-list-of-speakers-slide.module.spec.ts
  client/src/app/slides/agenda/current-list-of-speakers/current-list-of-speakers-slide.module.ts
  client/src/app/slides/agenda/list-of-speakers/list-of-speakers-slide.module.spec.ts
  client/src/app/slides/agenda/list-of-speakers/list-of-speakers-slide.module.ts
  openslides/agenda/projector.py
  openslides/assignments/projector.py
  openslides/core/projector.py
  openslides/mediafiles/projector.py
  openslides/motions/projector.py
  openslides/topics/projector.py
  openslides/users/projector.py
  openslides/utils/projector.py
  tests/integration/helpers.py
  tests/unit/agenda/test_projector.py
  tests/unit/motions/test_projector.py
Labels: client, server

#4385 Added anchor column
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/styles.scss
Labels: client

#4388 Adds sanitizer to render text correctly
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/slides/topics/topic/topic-slide.component.html
  client/src/app/slides/topics/topic/topic-slide.component.ts
Labels: client

#4387 Changes the primary palette for dark theme
  client/src/app/shared/components/projection-dialog/projection-dialog.component.html
  client/src/app/shared/components/projector-button/projector-button.component.scss
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.scss
  client/src/app/site/users/components/group-list/group-list.component.scss
  client/src/assets/styles/global-components-style.scss
  client/src/assets/styles/openslides-dark-theme.scss
  client/src/styles.scss
Labels: client

#4390 Disable various expensive sorting functions
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/base/base-view.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/motions/components/manage-submitters/manage-submitters.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
Labels: client

#4392 UI improvments
  client/src/app/base.component.ts
  client/src/app/shared/components/meta-text-block/meta-text-block.component.scss
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss
  client/src/app/site/motions/components/manage-submitters/manage-submitters.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-list/motion-list.component.scss
  client/src/app/site/users/models/view-user.ts
  client/src/assets/styles/global-components-style.scss
  client/src/assets/tinymce/langs/cs.js
  client/src/assets/tinymce/langs/de.js
  client/src/assets/tinymce/langs/en.js
  client/src/styles.scss
Labels: needs review

#4394 increasing default upload size
  openslides/utils/settings.py.tpl
Labels: bug, server

#4397 Add small fixes
  client/src/app/core/core-services/openslides-status.service.ts
  client/src/app/core/core-services/time-travel.service.ts
  client/src/app/shared/models/core/history.ts
  client/src/app/shared/utils/lang-to-locale.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/history/models/view-history.ts
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.ts
Labels: client

#4396 Fixed error message that viewmodel is not projectable.
  client/src/app/core/core-services/projector.service.ts
Labels: client

#4401 show save feedback on more config fields
  client/src/app/site/config/components/config-field/config-field.component.html
Labels: client

#4410 Add swipe gestures into motion detail
  client/src/app/base.component.ts
  client/src/app/site/base/base-view.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
Labels: client

#4403 Add custom fonts for projector
  client/src/app/app.component.ts
  client/src/app/core/ui-services/load-font.service.spec.ts
  client/src/app/core/ui-services/load-font.service.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/assets/styles/projector.scss
  client/src/styles.scss
Labels: client

#4400 refactor import preview strings
  client/src/app/shared/utils/previewStrings.ts
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.ts
  client/src/app/site/base/base-import-list.ts
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.ts
  client/src/app/site/motions/components/statute-paragraph-list/statute-import-list/statute-import-list.component.ts
Labels: clean up, client

#4399 bulk import of users
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/site/base/base-import-list.ts
  client/src/app/site/users/services/user-import.service.ts
Labels: client

#4389 current speaker chyron
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/shared/models/core/projector.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/projector/models/view-projector.ts
  client/src/app/site/projector/services/current-agenda-item.service.ts
  client/src/app/site/projector/services/current-list-of-of-speakers-slide.service.ts
  client/src/app/site/projector/services/current-speaker-chyron-slide.service.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.component.html
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide-data.ts
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.component.html
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.component.scss
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.component.spec.ts
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.component.ts
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.module.spec.ts
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.module.ts
  client/src/app/slides/all-slide-configurations.ts
  client/src/app/slides/all-slides.ts
  client/src/assets/styles/global-components-style.scss
  client/src/assets/styles/projector.scss
  openslides/agenda/projector.py
  openslides/core/config_variables.py
  openslides/core/migrations/0018_auto_20190222_1209.py
  openslides/core/models.py
  openslides/core/serializers.py
Labels: client, needs discussion, server

#4412 Updated translations
  client/src/app/core/marked-translations.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/assets/i18n/de.json
  client/src/assets/i18n/de.po
  client/src/assets/i18n/template-en.pot
  client/src/styles.scss
Labels: client, translation

#4414 marking and repairing translations
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/site/assignments/services/assignment-sort-list.service.ts
  client/src/app/site/mediafiles/services/mediafiles-sort-list.service.ts
  client/src/app/site/motions/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/components/workflow-list/workflow-list.component.html
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/services/user-filter-list.service.ts
  client/src/app/site/users/services/user-sort-list.service.ts
Labels: client, translation

#4416 category sort view hotfix
  client/src/app/site/motions/components/category-list/category-list.component.ts
Labels: client

#4420 fix assign url in motion- moveToItem
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#4417 fix agenda editing button
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
Labels: client

#4409 Add referenced motions by the server (fixes #4383)
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/slides/motions/motion-block/motion-block-slide-data.ts
  client/src/app/slides/motions/motion-block/motion-block-slide.component.html
  client/src/app/slides/motions/motion-block/motion-block-slide.component.ts
  openslides/motions/projector.py
Labels: client, server

#4418 Add custom h1 color to slides
  client/src/app/shared/components/projector/projector.component.scss
  client/src/app/shared/components/projector/projector.component.ts
  client/src/assets/styles/projector.scss
Labels: client

#4421 fix identifier setting on mass setstate
  openslides/motions/views.py
Labels: high, needs review, server

#4424 Revive the global search.
  client/src/app/core/app-config.ts
  client/src/app/core/core-services/app-load.service.ts
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/base-agenda-content-object-repository.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/common/chatmessage-repository.service.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/repositories/history/history-repository.service.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/core/repositories/motions/change-recommendation-repository.service.ts
  client/src/app/core/repositories/motions/motion-comment-section-repository.service.ts
  client/src/app/core/repositories/motions/statute-paragraph-repository.service.ts
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/core/repositories/projector/countdown-repository.service.ts
  client/src/app/core/repositories/projector/projector-message-repository.service.ts
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/core/repositories/tags/tag-repository.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/repositories/users/personal-note-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/search.service.ts
  client/src/app/site/assignments/assignments.config.ts
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/common/components/search/search.component.html
  client/src/app/site/common/components/search/search.component.ts
  client/src/app/site/mediafiles/mediafile.config.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/tags/models/view-tag.ts
  client/src/app/site/users/models/view-user.ts
Labels: client

#4426 Add elements to preview button
  client/src/app/core/ui-services/projection-dialog.service.ts
  client/src/app/shared/components/projection-dialog/projection-dialog.component.html
  client/src/app/shared/components/projection-dialog/projection-dialog.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
Labels: client

#4431 permission for admins to reset passwords
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#4433 Speaker repo
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/agenda/speaker-repository.service.spec.ts
  client/src/app/core/repositories/agenda/speaker-repository.service.ts
  client/src/app/shared/models/agenda/speaker.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
Labels: client

#4436 Clean projector detail interface
  client/src/app/shared/components/slide-container/slide-container.component.scss
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.scss
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/assets/styles/drag.scss
  client/src/assets/styles/global-components-style.scss
  client/src/assets/styles/openslides-theme.scss
  client/src/styles.scss
Labels: client
