Repository OpenSlides/OpenSlides, pull requests merged in 2019-12, with the labels that each got.

#5120 Add navigation flag to return to custom oriring
  client/src/app/core/ui-services/routing-state.service.ts
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/category/components/category-detail/category-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client, feature, motions

#5150 Remove option for inline line number PDF
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.html
Labels: client, pdf

#5148 Add manual cd for workflow detail
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
Labels: client

#5151 Consider offline during update checks
  client/package.json
  client/src/app/core/ui-services/linenumbering.service.ts
  client/src/app/core/ui-services/overlay.service.ts
  client/src/app/core/ui-services/poll.service.ts
  client/src/app/core/ui-services/search.service.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/motions/models/view-category.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/topics/models/view-topic.ts
Labels: bug, client

#5147 API changes
  openslides/assignments/views.py
  openslides/motions/views.py
  openslides/poll/views.py
  tests/integration/assignments/test_polls.py
  tests/integration/motions/test_polls.py
Labels: development

#5132 Adds the chart and dialog for analog voting
  client/package.json
  client/src/app/core/repositories/motions/motion-poll-repository.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/ui-services/poll.service.spec.ts
  client/src/app/core/ui-services/poll.service.ts
  client/src/app/shared/components/attachment-control/attachment-control.component.ts
  client/src/app/shared/components/breadcrumb/breadcrumb.component.html
  client/src/app/shared/components/breadcrumb/breadcrumb.component.scss
  client/src/app/shared/components/breadcrumb/breadcrumb.component.spec.ts
  client/src/app/shared/components/breadcrumb/breadcrumb.component.ts
  client/src/app/shared/components/charts/charts.component.html
  client/src/app/shared/components/charts/charts.component.scss
  client/src/app/shared/components/charts/charts.component.spec.ts
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/shared/components/check-input/check-input.component.html
  client/src/app/shared/components/check-input/check-input.component.scss
  client/src/app/shared/components/check-input/check-input.component.spec.ts
  client/src/app/shared/components/check-input/check-input.component.ts
  client/src/app/shared/components/extension-field/extension-field.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.scss
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/shared/models/base/base-form-control.ts
  client/src/app/shared/models/motions/motion-poll.ts
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/motions/models/view-motion-poll.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.spec.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-dialog.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-dialog.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-dialog.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-manager/motion-poll-manager.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-manager/motion-poll-manager.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-manager/motion-poll-manager.component.spec.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-manager/motion-poll-manager.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/modules/motion-detail/motion-detail.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll.module.ts
  client/src/app/site/motions/services/motion-poll.service.spec.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/assets/styles/global-components-style.scss
  openslides/core/apps.py
Labels: client, development, needs review

#5155 Add event description to PDF
  client/src/app/core/pdf-services/pdf-document.service.ts
Labels: bug, high, pdf

#5156 Scroll to previous offset rather than index
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/base/base-list-view.ts
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.html
Labels: client, high, needs review

#5154 Add leftover changes for 3.1
  client/src/app/core/repositories/base-is-agenda-item-and-list-of-speakers-content-object-repository.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.html
  client/src/app/shared/components/choice-dialog/choice-dialog.component.spec.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
  client/src/app/shared/components/projection-dialog/projection-dialog.component.html
  client/src/app/shared/components/projection-dialog/projection-dialog.component.spec.ts
  client/src/app/shared/components/projection-dialog/projection-dialog.component.ts
  client/src/app/shared/components/prompt-dialog/prompt-dialog.component.html
  client/src/app/shared/components/prompt-dialog/prompt-dialog.component.spec.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.html
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.spec.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.scss
  client/src/app/site/projector/components/message-dialog/message-dialog.component.spec.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.scss
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.html
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.ts
  client/src/app/site/projector/projector-routing.module.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide-data.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.component.html
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.component.ts
  openslides/agenda/projector.py
Labels: client, high, needs review, server

#5157 Add more motion filter options
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/motions.constants.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client, high, motions

#5107 Add changelog for 3.1
  CHANGELOG.rst
Labels: documentation

#5160 Fix null values in recommencation label
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
Labels: client, high

#5162 Fix untranslated searchable values
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
Labels: client, high

#5161 Updated requirements for python 3.8 support
  .gitignore
  .travis.yml
  manage.py
  requirements/big_mode.txt
  requirements/production.txt
  setup.py
  tests/settings.py
Labels: dependencies, high, server

#5163 Fix order of comments in motion detail
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.ts
Labels: client

#5166 Re-enable Service Worker
  client/package.json
  client/src/app/app.component.ts
Labels: bug, client
