Repository OpenSlides/OpenSlides, pull requests merged in 2019-06, with the labels that each got.

#4750 Multi move motions in category
  client/src/app/shared/components/sorting-list/sorting-list.component.ts
  client/src/app/site/motions/modules/category/components/category-sort/category-sort.component.html
  client/src/app/site/motions/modules/category/components/category-sort/category-sort.component.ts
Labels: client

#4656 fixing bulk sort trees from list view
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.html
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#4651 Assignment ballots (and refactoring motion ballots)
  client/src/app/core/core-services/poll-pdf-service.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/services/assignment-poll-pdf.service.spec.ts
  client/src/app/site/assignments/services/assignment-poll-pdf.service.ts
  client/src/app/site/motions/services/motion-poll-pdf.service.ts
Labels: assignments, client, pdf

#4772 Temporary fix for the agenda item number during updates.
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
Labels: client

#4767 Refactored OpenSlides history (HistoryInformation is not a root rest …
  CHANGELOG.rst
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/time-travel.service.ts
  client/src/app/core/core-services/websocket.service.ts
  client/src/app/core/repositories/history/history-repository.service.spec.ts
  client/src/app/core/repositories/history/history-repository.service.ts
  client/src/app/core/ui-services/prompt.service.ts
  client/src/app/shared/models/core/history.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.scss
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/history/history.config.ts
  client/src/app/site/history/models/view-history.ts
  client/src/styles.scss
  client/tslint.json
  openslides/core/access_permissions.py
  openslides/core/apps.py
  openslides/core/migrations/0024_auto_20190605_1105.py
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/core/urls.py
  openslides/core/views.py
  openslides/utils/autoupdate.py
  openslides/utils/stats.py
Labels: high

#4766 Implementation of exporting submitters and recommendation
  client/src/app/core/marked-translations.ts
  client/src/app/core/ui-services/pdf-document.service.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  openslides/motions/config_variables.py
Labels: high

#4781 Speed up animations.
  client/src/app/shared/animations.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/common/components/error/error.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/motions/modules/call-list/call-list.component.html
  client/src/app/site/motions/modules/category/components/category-detail/category-detail.component.html
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.html
  client/src/app/site/motions/modules/motion-comment-section/motion-comment-section-list.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/modules/statute-paragraph/components/statute-import-list/statute-import-list.component.html
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/tags/components/tag-list/tag-list.component.html
  client/src/app/site/users/components/group-list/group-list.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.html
  client/src/styles.scss
Labels: client

#4784 Add more user list options
  client/src/app/shared/components/icon-container/icon-container.component.html
  client/src/app/shared/components/icon-container/icon-container.component.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.scss
  client/src/styles.scss
Labels: client

#4795 Refine Virtual Scrolling Tables
  client/src/app/shared/animations.ts
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.scss
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/styles.scss
Labels: high

#4799 Add Filter predicate for ID
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
Labels: high

#4800 Fix HTML rendering in personal note
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
Labels: bug

#4804 Remove unnecessary fs package
  client/README.md
  client/package.json
Labels: dependencies, documentation

#4801 Fixed prefetching and ordering of motions during numbering
  openslides/motions/numbering.py
Labels: bug, high, server

#4803 Enhance surrounding motion detection
  .travis.yml
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: feature, motions

#4805 Adds custom filter predicates for native object data
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4806 Smarter back button
  client/src/app/app.component.ts
  client/src/app/core/ui-services/routing-state.service.spec.ts
  client/src/app/core/ui-services/routing-state.service.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.ts
  requirements/production.txt
Labels: client

#4809 Fix restriction without restricted data cache
  client/src/app/core/ui-services/routing-state.service.ts
  openslides/utils/cache.py
Labels: high, server

#4789 Fix sorting with empty strings
  client/src/app/core/ui-services/base-sort-list.service.ts
Labels: client, needs discussion

#4812 Add detailed filter information
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.html
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/styles.scss
Labels: client, feature

#4813 Remove restrictions for filters
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client

#4785 Quicklink to history (closes #4777)
  client/src/app/core/core-services/collection-string-mapper.service.ts
  client/src/app/site/base/base-view-model.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  openslides/core/views.py
Labels: client

#4790 Cleanup
  client/src/app/app.module.ts
  client/src/app/core/core-services/app-load.service.ts
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/core/ui-services/poll-pdf-service.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/agenda.config.ts
  client/src/app/site/agenda/agenda.module.ts
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/services/agenda-import.service.spec.ts
  client/src/app/site/agenda/services/agenda-import.service.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/assignments/services/assignment-poll-pdf.service.ts
  client/src/app/site/base/base-list-view.ts
  client/src/app/site/common/components/global-spinner/global-spinner.component.html
  client/src/app/site/common/components/global-spinner/global-spinner.component.scss
  client/src/app/site/common/components/global-spinner/global-spinner.component.spec.ts
  client/src/app/site/common/components/global-spinner/global-spinner.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-poll-pdf.service.ts
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.ts
  client/src/app/site/site-routing.module.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.scss
  client/src/app/site/topics/components/topic-detail/topic-detail.component.spec.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.ts
  client/src/app/site/topics/models/create-topic.ts
  client/src/app/site/topics/models/view-create-topic.ts
  client/src/app/site/topics/models/view-topic.ts
  client/src/app/site/topics/topics-routing.module.ts
  client/src/app/site/topics/topics.config.ts
  client/src/app/site/topics/topics.module.spec.ts
  client/src/app/site/topics/topics.module.ts
  client/src/app/site/users/components/group-list/group-list.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/slides/agenda/common/common-list-of-speakers-slide.module.ts
  client/src/app/slides/motions/motion/motion-slide-data.ts
  client/src/app/slides/motions/motion/motion-slide-obj-amendment-paragraph.ts
  client/src/app/slides/motions/motion/motion-slide-obj-change-reco.ts
  client/src/app/slides/motions/motion/motion-slide.component.ts
  client/src/styles.scss
Labels: client
