Repository OpenSlides/OpenSlides, pull requests merged in 2019-11, with the labels that each got.

#5058 Rework choice service and dialog
  client/src/app/core/ui-services/choice.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.html
  client/src/app/shared/components/choice-dialog/choice-dialog.component.scss
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/site/motions/modules/category/components/category-motions-sort/category-motions-sort.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#5110 Fix motion tiles filter
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
Labels: bug, client, high, motions

#5105 Fixed a UniqueViolation error
  openslides/users/models.py
  openslides/users/views.py
  tests/integration/users/test_viewset.py
Labels: server

#5057 Shows all related items of one collection
  client/src/app/site/common/components/super-search/super-search.component.html
  client/src/app/site/common/components/super-search/super-search.component.scss
  client/src/app/site/common/components/super-search/super-search.component.ts
Labels: client

#5117 Fixed duplicate permissions in the group matrix (fixed #5112)
  client/src/app/core/repositories/users/group-repository.service.ts
Labels: bug, client

#5118 Fixes a bug where files are not known as files
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
Labels: bug, high, mediafiles

#5115 Initial polling for motions in client
  client/src/app/core/core-services/websocket.service.ts
  client/src/app/shared/components/agenda-content-object-form/agenda-content-object-form.component.html
  client/src/app/shared/components/attachment-control/attachment-control.component.html
  client/src/app/shared/components/attachment-control/attachment-control.component.ts
  client/src/app/shared/components/extension-field/extension-field.component.html
  client/src/app/shared/components/media-upload-content/media-upload-content.component.html
  client/src/app/shared/components/media-upload-content/media-upload-content.component.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.spec.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/shared/models/base/base-form-control.ts
  client/src/app/shared/models/motions/motion-poll.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/models/view-motion-poll.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.html
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.spec.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.spec.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.ts
  client/src/app/site/motions/modules/motion-detail/motion-detail.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.spec.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.spec.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-routing.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll.module.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/assets/styles/global-components-style.scss
Labels: client, development

#5104 Fixed CSV import
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/agenda.module.ts
  client/src/app/site/base/base-import-list.ts
  client/src/app/site/motions/models/create-motion.ts
  client/src/app/site/motions/models/import-create-motion.ts
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.ts
  client/src/app/site/motions/modules/statute-paragraph/components/statute-import-list/statute-import-list.component.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/statute-import.service.ts
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.html
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.spec.ts
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.ts
  client/src/app/site/topics/models/create-topic.ts
  client/src/app/site/topics/models/view-create-topic.ts
  client/src/app/site/topics/services/topic-import.service.spec.ts
  client/src/app/site/topics/services/topic-import.service.ts
  client/src/app/site/users/components/user-import/user-import-list.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.ts
  client/src/app/site/users/models/import-create-user.ts
  client/src/app/site/users/services/user-import.service.ts
  openslides/users/views.py
Labels: bug, client, motions

#5122 Fix regression in assignments
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
Labels: assignments, bug, clean up, client, high

#5106 Improved mobile views (Agenda list, motion block list)
  client/src/app/shared/components/icon-container/icon-container.component.scss
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.scss
  client/src/app/site/motions/styles/motion-list-styles.scss
  client/src/styles.scss
Labels: client

#5119 [WIP] more voting in the client
  client/src/app/shared/models/motions/motion-poll.ts
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-poll/motion-poll-preview/motion-poll-preview.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.html
Labels: client

#5128 Fixed wrong permission/auth check for set password
  openslides/users/views.py
  tests/integration/users/test_viewset.py
Labels: bug

#5135 Fix agenda item number
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/agenda/list-of-speakers-repository.service.ts
  client/src/app/core/repositories/base-is-agenda-item-and-list-of-speakers-content-object-repository.ts
  client/src/app/core/repositories/base-is-agenda-item-content-object-repository.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/shared/models/agenda/item.ts
  client/src/app/site/base/base-view-model-with-agenda-item.ts
  client/src/app/site/topics/models/view-topic.ts
  client/src/app/slides/agenda/item-list/item-list-slide-data.ts
  client/src/app/slides/agenda/item-list/item-list-slide.component.ts
  openslides/agenda/projector.py
  tests/unit/agenda/test_projector.py
Labels: agenda, bug, client, high, server

#5129 Remove sorting poll option by weight
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
Labels: assignments, client

#5116 Fix assignment access permissions
  openslides/agenda/models.py
  openslides/agenda/views.py
  openslides/assignments/access_permissions.py
  openslides/utils/autoupdate.py
  openslides/utils/utils.py
Labels: development

#5139 Export Modified Final Version over exporter
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/shared-motion/motion-export-dialog/motion-export-dialog.component.html
Labels: bug, client, high, motions

#5141 Custom aspect ratio for projector
  client/src/app/shared/models/core/projector.ts
  client/src/app/site/projector/components/projector-edit-dialog/projector-edit-dialog.component.html
  client/src/app/site/projector/components/projector-edit-dialog/projector-edit-dialog.component.scss
  client/src/app/site/projector/components/projector-edit-dialog/projector-edit-dialog.component.ts
  openslides/core/migrations/0026_projector_size_1.py
  openslides/core/migrations/0027_projector_size_2.py
  openslides/core/migrations/0028_projector_size_3.py
  openslides/core/models.py
  openslides/core/serializers.py
Labels: client, projector, server

#5143 Hide mobile list-menus by permission
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.scss
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/local-permissions.service.ts
  client/src/app/site/motions/styles/motion-list-styles.scss
  client/src/assets/styles/tables.scss
Labels: assignments, client

#5138 Add nested PDF lists with line numbering
  client/src/app/core/pdf-services/html-to-pdf.service.ts
Labels: bug, client, motions, pdf

#5144 Hide long amendment preview on motion slide
  client/src/app/slides/motions/motion/motion-slide.component.html
Labels: client, feature, motions

#5146 Fixed too early single-model updates in the BaseRepository
  client/src/app/core/core-services/data-store.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/motions/workflow-repository.service.ts
Labels: bug, client
