Repository OpenSlides/OpenSlides, pull requests merged in 2019-05, with the labels that each got.

#4657 Service Worker Updates
  client/ngsw-config.json
  client/src/app/app.component.ts
  client/src/app/core/ui-services/update.service.spec.ts
  client/src/app/core/ui-services/update.service.ts
  client/src/app/site/common/components/legal-notice/legal-notice.component.html
  client/src/app/site/common/components/legal-notice/legal-notice.component.ts
  openslides/core/websocket.py
Labels: client, feature, high

#4655 fix sorting in category-sort
  client/src/app/site/motions/modules/category/components/category-sort/category-sort.component.ts
Labels: bug, client

#4661 Fix Parsing for personal comments in bulk export
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, high, pdf

#4607 Prioritize clients and WS ping-pong-mechanism
  client/src/app/app.component.ts
  client/src/app/core/core-services/http.service.ts
  client/src/app/core/core-services/openslides-status.service.ts
  client/src/app/core/core-services/openslides.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/ping.service.spec.ts
  client/src/app/core/core-services/ping.service.ts
  client/src/app/core/core-services/prioritize.service.spec.ts
  client/src/app/core/core-services/prioritize.service.ts
  client/src/app/core/core-services/websocket.service.ts
  client/src/app/core/timeout-promise.ts
  openslides/core/apps.py
  openslides/core/websocket.py
Labels: client, server

#4654 Some fields are only available if they are available
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
Labels: client

#4630 include global abstain/no option
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/ui-services/poll.service.ts
  client/src/app/shared/models/assignments/assignment-poll.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/slides/assignments/poll/poll-slide-data.ts
Labels: client

#4578 Implements a mechanism for a fallback theme
  client/src/app/app.component.html
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/core/ui-services/login-data.service.ts
  client/src/app/core/ui-services/spinner.service.spec.ts
  client/src/app/core/ui-services/spinner.service.ts
  client/src/app/core/ui-services/theme.service.ts
  client/src/app/shared/components/logo/logo.component.html
  client/src/app/shared/components/logo/logo.component.scss
  client/src/app/shared/components/logo/logo.component.ts
  client/src/app/site/global-spinner/global-spinner.component.html
  client/src/app/site/global-spinner/global-spinner.component.scss
  client/src/app/site/global-spinner/global-spinner.component.spec.ts
  client/src/app/site/global-spinner/global-spinner.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.html
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/site.component.html
  client/src/assets/styles/openslides-developer-theme.scss
  client/src/assets/styles/openslides-general-theme.scss
  client/src/index.html
  client/src/styles.scss
  openslides/core/config_variables.py
  openslides/users/views.py
Labels: client

#4672 Add anchor tag to motion block
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/assets/styles/tables.scss
Labels: client

#4644 prohibit changes in projectiondefaults
  openslides/core/views.py
Labels: server

#4675 Update personal note in motion
  client/src/app/core/core-services/view-model-store.service.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.ts
  client/src/app/site/users/models/view-personal-note.ts
Labels: bug, client

#4688 fix number array filter options
  client/src/app/core/ui-services/base-filter-list.service.ts
Labels: bug, client, high

#4687 Fix doulbe create requests for personal notes.
  openslides/users/views.py
  tests/integration/users/test_viewset.py
Labels: client

#4680 Added beginning slash to all request urls
  client/src/app/core/core-services/data-send.service.ts
  client/src/app/core/core-services/http.service.ts
  client/src/app/core/core-services/time-travel.service.ts
  client/src/app/core/repositories/agenda/speaker-repository.service.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/repositories/history/history-repository.service.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/core/repositories/motions/motion-comment-section-repository.service.ts
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/media-manage.service.ts
  client/src/app/core/ui-services/personal-note.service.ts
Labels: clean up, client

#4710 Hotfix: MediaUpload went wrong...
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
Labels: client

#4645 Rename the manage restriction field
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
  openslides/motions/access_permissions.py
  openslides/motions/migrations/0026_rename_restriction.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  tests/integration/motions/test_viewset.py
Labels: clean up, server

#4542 Remove ChatMessage
  openslides/core/access_permissions.py
  openslides/core/apps.py
  openslides/core/migrations/0022_remove_chatmessage.py
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/core/signals.py
  openslides/core/views.py
  openslides/users/signals.py
  tests/integration/core/test_viewset.py
  tests/integration/users/test_viewset.py
Labels: clean up, client, server

#4693 Enhance update service
  client/src/app/app-routing.module.ts
  client/src/app/app.component.ts
  client/src/app/core/ui-services/update.service.ts
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/site.component.ts
Labels: client, high

#4682 Fixed getting states of amendments (closes #4677)
  client/src/app/slides/motions/motion/motion-slide.component.ts
  openslides/motions/projector.py
Labels: server

#4704 Request for settings a permission in a group (closes #4698)
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/site/users/components/group-list/group-list.component.ts
  client/src/app/site/users/models/view-group.ts
  openslides/users/views.py
  tests/integration/users/test_viewset.py
Labels: needs review

#4679 Rework Assignment UI
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/styles.scss
Labels: assignments, client

#4671 Rework sort and filter
  client/src/app/core/core-services/data-store-update-manager.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/ping.service.ts
  client/src/app/core/deferred.ts
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/shared/components/os-sort-filter-bar/filter-menu/filter-menu.component.scss
  client/src/app/shared/components/os-sort-filter-bar/os-sort-bottom-sheet/os-sort-bottom-sheet.component.html
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.html
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.scss
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.spec.ts
  client/src/app/shared/components/sort-filter-bar/filter-menu/filter-menu.component.ts
  client/src/app/shared/components/sort-filter-bar/sort-bottom-sheet/sort-bottom-sheet.component.html
  client/src/app/shared/components/sort-filter-bar/sort-bottom-sheet/sort-bottom-sheet.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-bottom-sheet/sort-bottom-sheet.component.spec.ts
  client/src/app/shared/components/sort-filter-bar/sort-bottom-sheet/sort-bottom-sheet.component.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.spec.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/assignments/services/assignment-filter.service.ts
  client/src/app/site/assignments/services/assignment-sort-list.service.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/mediafiles/services/mediafile-filter.service.ts
  client/src/app/site/mediafiles/services/mediafiles-sort-list.service.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.ts
  client/src/app/site/motions/services/motion-block-sort.service.spec.ts
  client/src/app/site/motions/services/motion-block-sort.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/services/user-filter-list.service.ts
  client/src/app/site/users/services/user-sort-list.service.ts
  openslides/motions/config_variables.py
Labels: client

#4640 Poll calculations
  client/src/app/shared/models/assignments/assignment-poll-option.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/models/view-assignment-poll-option.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/slides/assignments/poll/poll-slide-data.ts
  client/src/app/slides/assignments/poll/poll-slide.component.html
  client/src/app/slides/assignments/poll/poll-slide.component.ts
Labels: assignments, clean up, client

#4731 Readded default sorting for agenda
  client/src/app/core/repositories/agenda/item-repository.service.ts
Labels: client, high

#4732 Check if the loaded filter definition has the valid format
  client/src/app/core/ui-services/base-filter-list.service.ts
Labels: high

#4733 Fixes an issue where sorting was tried with undefined valued
  client/src/app/core/repositories/agenda/item-repository.service.ts
Labels: high

#4735 Allow stored filter without options
  client/src/app/core/ui-services/base-filter-list.service.ts
Labels: client

#4659 Filter present speaker search-value selector
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/agenda/models/view-speaker.ts
  openslides/agenda/config_variables.py
  openslides/agenda/models.py
Labels: client

#4339 editor for final modified version of a motion
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/assets/styles/global-components-style.scss
Labels: client

#4391 Show PDF, PNG and JPEG files in projector
  client/package.json
  client/src/app/core/core-services/projector-data.service.ts
  client/src/app/core/core-services/projector.service.ts
  client/src/app/shared/components/slide-container/slide-container.component.scss
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/models/mediafile-projector-element.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/projector/components/presentation-control/presentation-control.component.html
  client/src/app/site/projector/components/presentation-control/presentation-control.component.scss
  client/src/app/site/projector/components/presentation-control/presentation-control.component.spec.ts
  client/src/app/site/projector/components/presentation-control/presentation-control.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/projector.module.ts
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.component.html
  client/src/app/slides/base-slide-component.ts
  client/src/app/slides/mediafiles/mediafile/mediafile-slide.component.html
  client/src/app/slides/mediafiles/mediafile/mediafile-slide.component.scss
  client/src/app/slides/mediafiles/mediafile/mediafile-slide.component.spec.ts
  client/src/app/slides/mediafiles/mediafile/mediafile-slide.component.ts
  client/src/app/slides/mediafiles/mediafile/mediafile-slide.module.ts
  client/src/app/slides/services/slide-manager.service.ts
Labels: client

#4743 Improves the SpinnerComponent
  client/src/app/app.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.ts
Labels: needs review

#4748 Pin angular/cli version in travis-ci
  .travis.yml
Labels: blocker, high
