Repository OpenSlides/OpenSlides, pull requests merged in 2019-03, with the labels that each got.

#4427 motion projection mode is optional and sensitive for the config
  client/src/app/core/core-services/projector.service.ts
  client/src/app/core/core-services/view-model-store.service.ts
  client/src/app/core/marked-translations.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/projection-dialog.service.ts
  client/src/app/shared/components/projection-dialog/projection-dialog.component.scss
  client/src/app/site/base/base-projectable-view-model.ts
  client/src/app/site/base/projectable.ts
  client/src/app/site/motions/models/view-motion.ts
Labels: client

#4439 consolidate state css colors
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/workflow-detail/workflow-detail.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/models/view-workflow.ts
Labels: client

#4419 countdown: new title field, description made optional
  client/src/app/shared/models/core/countdown.ts
  client/src/app/site/agenda/models/view-topic.ts
  client/src/app/site/projector/components/countdown-list/countdown-list.component.html
  client/src/app/site/projector/components/countdown-list/countdown-list.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/models/view-countdown.ts
  openslides/agenda/models.py
  openslides/core/migrations/0019_countdown_title_1.py
  openslides/core/migrations/0019_countdown_title_2.py
  openslides/core/models.py
  openslides/core/serializers.py
Labels: client

#4440 set the clock color to the header color of the projector
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/slide-container/slide-container.component.ts
  client/src/app/slides/base-slide-component.ts
  client/src/app/slides/core/clock/clock-slide.component.html
Labels: client

#4441 One global clos reference. More projector buttons for the clos view
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/shared/components/projector-button/projector-button.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/projector/models/view-projector.ts
  client/src/app/site/projector/services/current-list-of-of-speakers-slide.service.ts
  openslides/core/migrations/0020_set_reference_projector.py
Labels: client, server

#4455 Disable the future-lock when updating the restircted data cache
  openslides/agenda/models.py
  openslides/agenda/signals.py
  openslides/agenda/views.py
  openslides/assignments/models.py
  openslides/assignments/serializers.py
  openslides/assignments/views.py
  openslides/core/config.py
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/core/views.py
  openslides/mediafiles/models.py
  openslides/mediafiles/serializers.py
  openslides/mediafiles/views.py
  openslides/motions/models.py
  openslides/motions/serializers.py
  openslides/motions/views.py
  openslides/topics/models.py
  openslides/topics/views.py
  openslides/users/models.py
  openslides/users/serializers.py
  openslides/users/signals.py
  openslides/users/views.py
  openslides/utils/cache.py
  tests/integration/utils/test_consumers.py
  tests/unit/utils/cache_provider.py
  tests/unit/utils/test_cache.py
Labels: bug

#4449 change config update behavior for editors
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.ts
Labels: client

#4459 set allow_null for integerfields, when they are not required
  client/src/app/site/motions/services/local-permissions.service.ts
  openslides/motions/serializers.py
  openslides/topics/serializers.py
Labels: needs review, server

#4458 Add Service Work(e|a)r(round)
  client/src/main.ts
Labels: client

#4201 Fixed autoupdate for m2m relation.
  CHANGELOG.rst
  openslides/core/apps.py
  openslides/core/signals.py
Labels: bug, server

#4432 csv example export refactor
  client/src/app/core/ui-services/csv-export.service.ts
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/statute-csv-export.service.ts
  client/src/app/site/users/components/user-import/user-import-list.component.ts
Labels: client

#4462 Fixed SW registration issues due to pending mikrotasks
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/main.ts
Labels: client

#4475 Add text-decoration to bleach whitelist
  client/src/app/base.component.ts
  openslides/utils/validate.py
Labels: client

#4486 Fix amendment creation
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#4488 Fix a race condition when creating config.key_to_id
  openslides/core/config.py
Labels: bug, config

#4483 Motion block permission fixes
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
Labels: client

#4481 Prevent drag and final versions without perms
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.ts
  client/src/app/shared/directives/perms.directive.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
Labels: client

#4485 User detail template fixes
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.scss
Labels: client

#4494 Fix agenda status filter
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
Labels: client

#4492 Fix history history filter for null
  client/src/app/site/history/components/history-list/history-list.component.ts
Labels: client

#4498 Fix path matching
  client/src/app/site/site-routing.module.ts
Labels: client

#4497 Fix motion slide line number alignment
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.scss
  client/src/app/slides/motions/motion/motion-slide.component.scss
  client/src/assets/styles/motion-styles-common.scss
Labels: client

#4500 workflow table state sort
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/shared/components/media-upload-content/media-upload-content.component.scss
  client/src/app/shared/models/motions/workflow.ts
  client/src/app/site/motions/models/view-workflow.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.scss
  client/src/app/site/users/components/group-list/group-list.component.scss
  client/src/assets/styles/tables.scss
Labels: client

#4509 Fix certain permission checks
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.scss
  client/src/app/site/users/components/user-detail/user-detail.component.html
Labels: client

#4411 fix sort performance issues for dropdowns
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/agenda/topic-repository.service.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/repositories/base-agenda-content-object-repository.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/common/chatmessage-repository.service.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/repositories/history/history-repository.service.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/motions/category-repository.service.ts
  client/src/app/core/repositories/motions/change-recommendation-repository.service.ts
  client/src/app/core/repositories/motions/motion-block-repository.service.ts
  client/src/app/core/repositories/motions/motion-comment-section-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/motions/statute-paragraph-repository.service.ts
  client/src/app/core/repositories/motions/workflow-repository.service.ts
  client/src/app/core/repositories/projector/countdown-repository.service.ts
  client/src/app/core/repositories/projector/projector-message-repository.service.ts
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/core/repositories/tags/tag-repository.service.ts
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/repositories/users/personal-note-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/projector/components/projector-message-list/projector-message-list.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/services/user-sort-list.service.ts
Labels: client, high

#4472 Add Countdowns in projector detail
  client/src/app/shared/components/contdown-time/countdown-time.component.html
  client/src/app/shared/components/projector-button/projector-button.component.scss
  client/src/app/shared/components/projector-button/projector-button.component.ts
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.html
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.scss
  client/src/app/site/projector/components/countdown-controls/countdown-controls.component.ts
  client/src/app/site/projector/components/countdown-dialog/countdown-dialog.component.html
  client/src/app/site/projector/components/countdown-dialog/countdown-dialog.component.scss
  client/src/app/site/projector/components/countdown-dialog/countdown-dialog.component.spec.ts
  client/src/app/site/projector/components/countdown-dialog/countdown-dialog.component.ts
  client/src/app/site/projector/components/countdown-list/countdown-list.component.html
  client/src/app/site/projector/components/countdown-list/countdown-list.component.scss
  client/src/app/site/projector/components/countdown-list/countdown-list.component.spec.ts
  client/src/app/site/projector/components/countdown-list/countdown-list.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.scss
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.html
  client/src/app/site/projector/projector-routing.module.ts
  client/src/app/site/projector/projector.module.ts
  client/src/assets/styles/global-components-style.scss
  client/src/assets/styles/openslides-green-theme.scss
  client/src/styles.scss
Labels: client

#4489 Replaces the DragDrop-Tree
  client/package.json
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.html
  client/src/app/shared/components/sorting-tree/sorting-tree.component.scss
  client/src/app/shared/components/sorting-tree/sorting-tree.component.spec.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/shared/utils/watch-sorting-tree.guard.spec.ts
  client/src/app/shared/utils/watch-sorting-tree.guard.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.html
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.ts
  client/src/app/site/motions/modules/call-list/call-list-routing.module.ts
  client/src/app/site/motions/modules/call-list/call-list.component.html
  client/src/app/site/motions/modules/call-list/call-list.component.ts
  client/src/styles.scss
  openslides/agenda/views.py
  openslides/motions/views.py
  openslides/utils/views.py
Labels: needs review

#4517 Fixed permission check for manage comments
  openslides/motions/views.py
Labels: high

#4515 Fixed statute amendment detection in motion form
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#4518 Added new permission to see motions in internal state (so called auth…
  CHANGELOG.rst
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
  openslides/motions/access_permissions.py
  openslides/motions/migrations/0022_auto_20190320_0840.py
  openslides/motions/models.py
  openslides/users/signals.py
Labels: client, server

#4519 Fix some z-level related issues
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.scss
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.scss
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.scss
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/slides/motions/motion/motion-slide.component.scss
  client/src/assets/styles/tables.scss
  client/src/styles.scss
Labels: client

#4520 Fix websocket connection for port 80
  client/src/app/core/core-services/websocket.service.ts
Labels: client

#4523 Add motion to motion change observation
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#4525 Sanitizing the inner html text.
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.ts
Labels: client

#4527 Add prettier list of speakers
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss
  client/src/assets/styles/global-components-style.scss
  client/src/styles.scss
Labels: client

#4511 Cleanup the repo-cleanup
  client/src/app/core/core-services/data-send.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/repositories/history/history-repository.service.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/users/personal-note-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: clean up, client, needs review

#4524 Adds listener to the pagination
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/assignment-list/assignment-list.component.ts
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4533 Add manual sorting to Speaker list
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss-theme.scss
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/styles.scss
Labels: client

#4534 Adjusts pagination's listener to default code style.
  client/src/app/site/base/list-view-base.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4538 Fix history mode store access
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/time-travel.service.ts
  client/src/app/core/ui-services/login-data.service.ts
Labels: client

#4166 prevent accidental self- lockout in multiSelect
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#4545 Add offline indicator to projector
  client/src/app/core/core-services/offline.service.ts
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/projector/projector.component.scss
  client/src/app/shared/components/projector/projector.component.ts
Labels: client, high

#4546 Add websocket debug output
  client/src/app/core/core-services/websocket.service.ts
Labels: client, high
