Repository OpenSlides/OpenSlides, pull requests merged in 2019-01, with the labels that each got.

#4075 Multiselect dialogs with multiple choice options
  client/src/app/core/services/choice.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.html
  client/src/app/shared/components/choice-dialog/choice-dialog.component.scss
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/assignments/assignment-list/assignment-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/motions/services/workflow-repository.service.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/services/user-repository.service.ts
Labels: high

#4080 Take motion configuration variables, some layout-fixes
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.scss
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/models/view-create-motion.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-repository.service.ts
Labels: client

#4087 update vulnerable dependency (angular-devkit)
  client/package.json
Labels: client, dependencies

#4060 adding "shift-enter"-Submit for TagList
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/motions/components/statute-paragraph-list/statute-paragraph-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
Labels: client

#4095 fixing the wsgi server by removing trailing slashes on static files
  openslides/urls.py
Labels: server

#4097 fixing Module not found error
  openslides/motions/migrations/0006_submitter_model.py
Labels: server

#4096 fix login not responding to errors
  client/src/app/site/login/components/login-mask/login-mask.component.ts
Labels: client

#4076 motion csv import
  client/package.json
  client/src/app/app.module.ts
  client/src/app/core/services/csv-export.service.ts
  client/src/app/core/services/data-store.service.ts
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.html
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.scss
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.spec.ts
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/models/create-motion.ts
  client/src/app/site/motions/models/view-csv-create-motion.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/motions/motions.module.ts
  client/src/app/site/motions/services/motion-block-repository.service.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/services/user-repository.service.ts
  client/src/styles.scss
Labels: client

#4099 fixed motion title in agenda
  client/src/app/shared/models/motions/motion.ts
Labels: client

#4094 UI improvements
  client/package.json
  client/src/app/shared/components/footer/footer.component.html
  client/src/app/shared/components/footer/footer.component.scss
  client/src/app/shared/components/footer/footer.component.spec.ts
  client/src/app/shared/components/footer/footer.component.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.html
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.html
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.scss
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/login/components/login-legal-notice/login-legal-notice.component.html
  client/src/app/site/login/components/login-privacy-policy/login-privacy-policy.component.html
  client/src/app/site/login/components/login-wrapper/login-wrapper.component.html
  client/src/app/site/login/components/login-wrapper/login-wrapper.component.scss
  client/src/app/site/motions/components/meta-text-block/meta-text-block.component.scss
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.html
  client/src/app/site/motions/components/motion-change-recommendation/motion-change-recommendation.component.ts
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/components/motion-detail-diff/motion-detail-diff.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.scss
  client/src/app/site/motions/components/personal-note/personal-note.component.html
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.scss-theme.scss
  client/src/app/site/site.component.ts
  client/src/app/site/tags/tag.config.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.scss
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/assets/img/openslides-logo-h.svg
  client/src/assets/styles/openslides-theme.scss
  client/src/styles.scss
  tests/example_data_generator/apps.py
Labels: client

#4102 fix vulnerable npm dependency angular-devkit
  client/package.json
Labels: client, dependencies

#4113 Fix Headless Browser Start with Travis
  .travis.yml
Labels: travis

#4110 adding and implementing logo component
  client/src/app/shared/components/logo/logo.component.html
  client/src/app/shared/components/logo/logo.component.scss
  client/src/app/shared/components/logo/logo.component.spec.ts
  client/src/app/shared/components/logo/logo.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/mediafiles/services/media-manage.service.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
Labels: client, help wanted

#4088 motion polls
  client/src/app/core/poll.service.spec.ts
  client/src/app/core/poll.service.ts
  client/src/app/shared/models/motions/motion-poll.ts
  client/src/app/shared/models/motions/motion.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-poll/motion-poll-dialog.component.html
  client/src/app/site/motions/components/motion-poll/motion-poll-dialog.component.scss
  client/src/app/site/motions/components/motion-poll/motion-poll-dialog.component.ts
  client/src/app/site/motions/components/motion-poll/motion-poll.component.html
  client/src/app/site/motions/components/motion-poll/motion-poll.component.scss
  client/src/app/site/motions/components/motion-poll/motion-poll.component.spec.ts
  client/src/app/site/motions/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/motions.module.ts
  client/src/app/site/motions/services/local-permissions.service.ts
  client/src/app/site/motions/services/motion-poll.service.spec.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
Labels: client

#4112 sortSearch improvements (fixes #4098)
  client/src/app/core/services/filter-list.service.ts
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.html
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.scss
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
  client/src/app/site/assignments/services/assignment-sort-list.service.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/users/services/user-filter-list.service.ts
Labels: client

#4114 csv-import for user and agenda(topics)
  client/src/app/core/services/base-import.service.ts
  client/src/app/core/services/duration.service.spec.ts
  client/src/app/core/services/duration.service.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/agenda-import.service.spec.ts
  client/src/app/site/agenda/agenda-import.service.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/agenda.module.ts
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.html
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.spec.ts
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/item-info-dialog/item-info-dialog.component.ts
  client/src/app/site/agenda/components/topic-detail/topic-detail.component.ts
  client/src/app/site/agenda/models/create-topic.ts
  client/src/app/site/agenda/models/view-create-topic.ts
  client/src/app/site/agenda/models/view-topic.ts
  client/src/app/site/agenda/services/topic-repository.service.ts
  client/src/app/site/base/base-import-list.ts
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.html
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.scss
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.ts
  client/src/app/site/motions/models/view-csv-create-motion.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/app/site/users/components/user-import/user-import-list.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.spec.ts
  client/src/app/site/users/components/user-import/user-import-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/models/view-csv-create-user.ts
  client/src/app/site/users/services/user-import.service.spec.ts
  client/src/app/site/users/services/user-import.service.ts
  client/src/app/site/users/services/user-repository.service.ts
  client/src/app/site/users/users-routing.module.ts
  client/src/app/site/users/users.module.ts
  client/src/styles.scss
Labels: client

#4104 Used the same timestamp for multiple history objects.
  openslides/core/migrations/0011_auto_20190119_0958.py
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/motions/views.py
Labels: server

#4141 Added history information for some motion views.
  CHANGELOG.rst
  openslides/core/migrations/0013_auto_20190119_1641.py
  openslides/core/models.py
  openslides/core/serializers.py
  openslides/motions/views.py
  openslides/utils/autoupdate.py
Labels: autoupdate, server

#4147 Improved history table.
  client/src/app/core/marked-translations.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/history/models/view-history.ts
  openslides/core/serializers.py
Labels: needs review

#4167 shortening motion titles
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.scss
Labels: client

#4160 search History
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/styles.scss
Labels: client

#4162 Add PDF custom fonts
  client/package.json
  client/src/app/core/services/config.service.ts
  client/src/app/core/services/http.service.ts
  client/src/app/core/services/pdf-document.service.ts
  client/src/app/site/mediafiles/services/media-manage.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/assets/fonts/fira-sans-condensed-latin-400.woff
  client/src/assets/fonts/fira-sans-latin-400.woff
  client/src/assets/fonts/fira-sans-latin-400italic.woff
  client/src/assets/fonts/fira-sans-latin-500.woff
  client/src/assets/fonts/fira-sans-latin-500italic.woff
  client/src/assets/styles/font-variables.scss
  client/src/assets/styles/fonts.scss
  client/src/styles.scss
  openslides/core/config_variables.py
  openslides/core/migrations/0014_changed_default_font.py
Labels: client

#4164 set/read state+recommendation extensions
  client/src/app/shared/models/motions/workflow-state.ts
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/services/motion-repository.service.ts
Labels: client, needs review

#4169 Add gender field to users
  client/src/app/shared/models/users/user.ts
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.html
  client/src/app/site/agenda/models/view-speaker.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/models/view-user.ts
  client/src/app/site/users/services/user-repository.service.ts
Labels: client

#4170 change initial focus of imports
  client/src/app/site/agenda/components/agenda-import-list/agenda-import-list.component.html
  client/src/app/site/motions/components/motion-import-list/motion-import-list.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.html
Labels: client

#4071 travis check for createsettings and migration
  .travis.yml
  DEVELOPMENT.rst
Labels: server, travis

#4181 cleanup
  client/src/app/core/services/pdf-document.service.ts
  client/src/app/shared/components/sorting-list/sorting-list.component.ts
  client/src/app/shared/models/agenda/item.ts
  client/src/app/shared/models/motions/motion-log.ts
  client/src/app/shared/models/motions/motion.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/speaker-list/speaker-list.component.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/models/view-speaker.ts
  client/src/app/site/agenda/services/agenda-repository.service.ts
  client/src/app/site/config/components/config-field/config-field.component.html
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/config/models/view-config.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/motions/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/components/motion-log/motion-log.component.html
  client/src/app/site/motions/components/motion-log/motion-log.component.scss
  client/src/app/site/motions/components/motion-log/motion-log.component.spec.ts
  client/src/app/site/motions/components/motion-log/motion-log.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/motions.module.ts
  client/src/app/site/motions/services/motion-repository.service.ts
  client/src/app/site/motions/services/personal-note.service.ts
  client/src/app/site/users/models/view-user.ts
Labels: clean up, client

#4175 motion ballot pdf creation
  client/src/app/core/services/pdf-document.service.ts
  client/src/app/site/motions/components/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/services/motion-poll-pdf.service.spec.ts
  client/src/app/site/motions/services/motion-poll-pdf.service.ts
Labels: client

#4179 filter mediafiles by hidden status, and by 'pdf/not pdf'
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/mediafiles/services/mediafile-filter.service.ts
  client/src/app/site/mediafiles/services/mediafiles-sort-list.service.ts
Labels: client

#4177 add a validation error for false template invitation email properties (server)
  openslides/users/models.py
Labels: client

#4189 Add Motion Export dialog
  client/src/app/core/services/csv-export.service.ts
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.html
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.scss
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.spec.ts
  client/src/app/site/motions/components/motion-export-dialog/motion-export-dialog.component.ts
  client/src/app/site/motions/components/motion-list/motion-list.component.html
  client/src/app/site/motions/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/motions.module.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-pdf-catalog.service.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#4183 Set/unset presence
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/presence-detail/presence-detail.component.html
  client/src/app/site/users/presence-detail/presence-detail.component.spec.ts
  client/src/app/site/users/presence-detail/presence-detail.component.ts
  client/src/app/site/users/services/user-repository.service.ts
  client/src/app/site/users/users-routing.module.ts
  client/src/app/site/users/users.module.ts
Labels: client

#4186 add pdf header and footer images
  client/src/app/core/services/pdf-document.service.ts
  client/src/app/site/motions/services/motion-poll-pdf.service.ts
Labels: client

#4194 Projector V
  openslides/agenda/apps.py
  openslides/agenda/projector.py
  openslides/assignments/apps.py
  openslides/assignments/projector.py
  openslides/core/apps.py
  openslides/core/projector.py
  openslides/core/serializers.py
  openslides/mediafiles/apps.py
  openslides/mediafiles/projector.py
  openslides/motions/apps.py
  openslides/motions/models.py
  openslides/motions/projector.py
  openslides/motions/serializers.py
  openslides/topics/apps.py
  openslides/topics/projector.py
  openslides/users/apps.py
  openslides/users/projector.py
  openslides/utils/projector.py
  tests/integration/helpers.py
  tests/integration/motions/test_viewset.py
  tests/unit/agenda/test_projector.py
  tests/unit/motions/test_projector.py
Labels: motions, projector, server

#4176 Fixes #4173
  AUTHORS
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
Labels: client

#4178 Fixes #4174
  client/src/app/shared/components/os-sort-filter-bar/os-sort-filter-bar.component.html
  client/src/app/site/common/components/search/search.component.html
Labels: client

#4188 agenda hierarchies
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/agenda/agenda.module.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.html
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.spec.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.ts
  client/src/app/site/agenda/models/view-item.ts
  client/src/app/site/agenda/services/agenda-repository.service.ts
  client/src/styles.scss
Labels: client

#4214 Update to angular 7.2.2
  client/package.json
  client/src/app/core/services/data-store.service.ts
  client/src/app/core/services/servertime.service.ts
  client/src/app/shared/models/base/base-model.ts
  client/src/app/site/common/components/start/start.component.ts
Labels: client

#4220 Add motion reco giver to motion PDF
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client, pdf

#4228 UI improvements for motions
  client/src/app/site/motions/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/components/motion-detail/motion-detail.component.scss
Labels: high
