Repository OpenSlides/OpenSlides, pull requests merged in 2020-04, with the labels that each got.

#5220 Added first draft for restriction and presenter interfaces.
  docs/interfaces/action-service.txt
  docs/interfaces/presenter-service.txt
  docs/interfaces/restriction-service.txt
Labels: OpenSlides4

#5301 Update translation extractor
  client/package.json
  client/src/app/core/core-services/offline.service.ts
  client/src/app/core/translate/marked-translations.ts
  client/src/app/core/translate/translation-marker.ts
  client/src/app/core/ui-services/voting-banner.service.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/services/motion-sort-list.service.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/site/projector/models/view-countdown.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client, dependencies, high, translation

#5308 Sort motion list by category weight
  client/src/app/site/motions/services/motion-sort-list.service.ts
Labels: client

#5310 Sort motions in categories by inner weight (again)
  client/src/app/site/motions/services/motion-sort-list.service.ts
Labels: bug, client

#5311 Fix pseudoanonymize on client
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  openslides/poll/views.py
  tests/integration/assignments/test_polls.py
Labels: bug, client

#5313 Fixed user import
  client/src/app/shared/models/base/base-decimal-model.ts
Labels: bug, client

#5314 Adds more permissive html validation for topics and welcome page
  openslides/assignments/serializers.py
  openslides/core/config.py
  openslides/core/serializers.py
  openslides/motions/serializers.py
  openslides/topics/serializers.py
  openslides/users/serializers.py
  openslides/utils/validate.py
  tests/unit/utils/test_validate.py
Labels: server

#5287 Small fixes for models and example data
  docs/example-data.json
  docs/models.txt
Labels: OpenSlides4

#5307 Adds a 'not found'-button to search-value-selector
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.scss
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
Labels: client

#5317 Allow set present on user list if config was set
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#5293 Adds a third line for comments
  client/src/app/shared/components/icon-container/icon-container.component.scss
  client/src/app/shared/components/icon-container/icon-container.component.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
Labels: client

#5319 Fixes an issue regarding self-set-present
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#5299 Delete old test files that are reimplemented in Typescript by now
  tests/karma/karma.conf.js
  tests/karma/motions/diff.service.test.js
  tests/karma/motions/linenumbering.service.test.js
Labels: clean up, tests

#5324 Set version of pytest-django and pytest-asyncio
  requirements/development.txt
Labels: dependencies, server, tests

#5305 Implement vote weight in client
  client/src/app/shared/models/base/base-decimal-model.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/shared/pipes/parse-poll-number.pipe.ts
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-import/user-import-list.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.scss
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/services/user-filter-list.service.ts
  client/src/app/site/users/services/user-import.service.ts
  client/src/app/site/users/services/user-sort-list.service.ts
  openslides/assignments/views.py
  openslides/motions/views.py
  openslides/poll/models.py
  openslides/users/config_variables.py
  tests/integration/assignments/test_polls.py
  tests/integration/motions/test_polls.py
Labels: client, voting

#5323 Update linting rules
  client/src/app/core/core-services/app-load.service.ts
  client/src/app/core/core-services/data-store.service.ts
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/app/core/repositories/config/config-repository.service.ts
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/core/ui-services/diff.service.spec.ts
  client/src/app/core/ui-services/diff.service.ts
  client/src/app/core/ui-services/linenumbering.service.ts
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/shared/components/logo/logo.component.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/shared/models/base/base-form-control.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-original-change-recommendations/motion-detail-original-change-recommendations.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/projector/services/current-agenda-item.service.ts
  client/tslint.json
Labels: clean up, client, dependencies

#5335 Fixes preview of topics in global search
  client/src/app/site/topics/models/view-topic.ts
Labels: client

#5328 Subtitles for projected elements in the projector detail view
  client/src/app/core/core-services/projector.service.ts
  client/src/app/core/repositories/agenda/item-repository.service.ts
  client/src/app/core/repositories/base-is-agenda-item-and-list-of-speakers-content-object-repository.ts
  client/src/app/core/repositories/base-is-agenda-item-content-object-repository.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/site/agenda/models/view-list-of-speakers.ts
  client/src/app/site/agenda/services/agenda-pdf.service.ts
  client/src/app/site/base/base-projectable-view-model.ts
  client/src/app/site/base/base-view-model-with-agenda-item.ts
  client/src/app/site/base/projectable.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/slides/slide-manifest.ts
  client/src/assets/styles/global-components-style.scss
Labels: client, feature, projector, server

#5295 Duplicates single and multiple items in the agenda
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.html
  client/src/app/site/agenda/components/agenda-list/agenda-list.component.ts
  client/src/app/site/topics/models/view-topic.ts
Labels: client

#5341 Load configs before models
  openslides/core/config.py
  openslides/utils/cache.py
  openslides/utils/cache_providers.py
  openslides/utils/main.py
Labels: high

#5309 Integrate jitsi-meet in OpenSlides
  client/angular.json
  client/src/app/shared/components/jitsi/jitsi.component.html
  client/src/app/shared/components/jitsi/jitsi.component.scss
  client/src/app/shared/components/jitsi/jitsi.component.scss-theme.scss
  client/src/app/shared/components/jitsi/jitsi.component.spec.ts
  client/src/app/shared/components/jitsi/jitsi.component.ts
  client/src/app/shared/components/list-view-table/list-view-table.component.scss
  client/src/app/shared/shared.module.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.html
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.ts
  client/src/app/site/site.component.html
  client/src/assets/jitsi/external_api.js
  client/src/styles.scss
  openslides/core/apps.py
  openslides/core/config_variables.py
Labels: client, feature

#5330 Show first contribution hint in list of speaker
  client/src/app/core/repositories/agenda/list-of-speakers-repository.service.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/agenda/models/view-list-of-speakers.ts
  openslides/agenda/config_variables.py
Labels: client, feature
