Repository OpenSlides/OpenSlides, pull requests merged in 2020-09, with the labels that each got.

#5513 Mediaservice interface
  docs/interfaces/media-service.txt
Labels: OpenSlides4

#5536 PDF line number alignment
  client/src/app/core/pdf-services/html-to-pdf.service.ts
Labels: client, motions, pdf

#5544 Fix Firefox indexedDB state change issue
  client/src/app/shared/components/jitsi/jitsi.component.ts
Labels: bug, client, dependencies

#5543 Adjust live stream permission
  client/package.json
  client/src/app/shared/components/jitsi/jitsi.component.html
  client/src/app/shared/components/jitsi/jitsi.component.ts
Labels: client

#5519 Change jitsi_password to jitsi_room_password
  docker/.env
  docker/docker-compose.yml.m4
  docker/docker-stack.yml.m4
  server/docker/settings.py
  server/openslides/utils/settings.py.tpl
Labels: clean up, docker, documentation, server

#5556 Show amendments change reco in main motion
  client/src/app/core/ui-services/linenumbering.service.ts
Labels: client, high, motions

#5551 Always include CRs in motion slide
  client/src/app/core/ui-services/diff.service.ts
  client/src/app/slides/motions/motion/motion-slide.component.html
  client/src/app/slides/motions/motion/motion-slide.component.ts
  server/openslides/motions/projector.py
  server/tests/unit/motions/test_projector.py
Labels: client, projector, server

#5559 Avoid final version to amendments
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: bug, client, high, motions

#5561 Adjust the example csv gender fields
  client/src/app/site/users/components/user-import/user-import-list.component.ts
Labels: clean up, client, users

#5562 Evaluate default amendment workflow in list
  client/src/app/site/motions/services/amendment-filter-list.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
Labels: client, motions

#5563 Show or hide motion id in amendment list by config
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
Labels: bug, clean up, client, motions

#5542 Vscroll for user import
  client/src/app/shared/components/list-view-table/list-view-table.component.scss
  client/src/app/site/base/base-import-list.ts
  client/src/app/site/users/components/user-import/user-import-list.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.scss
  client/src/app/site/users/components/user-import/user-import-list.component.ts
  client/src/styles.scss
Labels: client, feature, users

#5550 Add virtual scrolling for search value selector
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.scss
Labels: client, feature

#5565 Fix changed amendment in slides
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.scss-theme.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/slides/motions/motion/motion-slide.component.html
  client/src/app/slides/motions/motion/motion-slide.component.scss
  client/src/app/slides/motions/motion/motion-slide.component.ts
Labels: client, high, motions, projector

#5564 Add amendment projection defaults
  client/src/app/site/motions/models/view-motion.ts
  server/openslides/core/migrations/0034_amendment_projection_defaults.py
Labels: client, feature, motions, server

#5567 More reliable text/stack defintion in cr pdf
  client/src/app/core/pdf-services/html-to-pdf.service.ts
Labels: bug, client, high, motions, pdf

#5569 fix white change-recommendation-overview
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.scss-theme.scss
Labels: bug, client

#5570 Add vjs live steam poster url as config
  client/src/app/shared/components/vjs-player/vjs-player.component.scss
  client/src/app/shared/components/vjs-player/vjs-player.component.ts
  server/openslides/core/config_variables.py
Labels: client, feature

#5575 Add package lock to dockerfile
  client/docker/Dockerfile
  client/package.json
Labels: bug, client, docker, high

#5534 Cleanup previous return statements in void functions
  client/src/app/core/repositories/users/user-repository.service.ts
Labels: clean up, client

#5555 Fix non-nominal voting on assignment polls with type votes
  server/openslides/assignments/views.py
  server/tests/integration/assignments/test_polls.py
Labels: bug, high, server

#5572 Models to yml
  .github/workflows/models.yml
  docs/models.yml
Labels: high
