Repository OpenSlides/OpenSlides, pull requests merged in 2020-12, with the labels that each got.

#5741 Propagate changes in OS3
  docs/example-data.json
  docs/models.yml
  docs/modelsvalidator/README.md
Labels: OpenSlides4

#5696 Enhance the action interface
  docs/interfaces/action-service.txt
  docs/interfaces/actions-service.txt
Labels: OpenSlides4

#5735 Trim livestream URL
  client/src/app/shared/components/vjs-player/vjs-player.component.ts
Labels: bug, client, config, dependencies

#5748 Re-Enable pip option for VJS
  client/src/app/shared/components/vjs-player/vjs-player.component.scss
Labels: client, feature

#5736 Consider show-seq-number config during pdf export
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: bug, client, motions, pdf

#5734 Show "Deleted user" if a poll user cannot be found
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.scss
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll-pdf.service.ts
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll.service.ts
  client/src/app/slides/assignments/assignment/assignment-slide.component.html
  client/src/app/slides/assignments/assignment/assignment-slide.component.ts
Labels: assignments, bug, client, voting

#5739 Hide started assignment polls
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
Labels: assignments, client, voting

#5746 Add poster image in 404 cases
  client/src/app/core/translate/marked-translations.ts
  client/src/app/shared/components/vjs-player/vjs-player.component.html
  client/src/app/shared/components/vjs-player/vjs-player.component.scss
  client/src/app/shared/components/vjs-player/vjs-player.component.ts
  server/openslides/core/config_variables.py
Labels: client, feature

#5751 Reset the CR Mode by motion-motion navigation
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client, feature

#5758 Fix example data
  docs/example-data.json
Labels: OpenSlides4

#5728 Add number_value to motion model.
  docs/models.yml
Labels: OpenSlides4

#5759 Update mediaservice interface
  docs/interfaces/media-service.txt
Labels: OpenSlides4

#5705 Show latest meaningful poll results in autopilot
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.ts
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/cinema/components/cinema/cinema.component.ts
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/models/has-view-polls.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/motions/motion-poll/motion-poll-slide.component.html
Labels: client, feature

#5742 Add poll meta info component
  client/src/app/shared/models/assignments/assignment-poll.ts
  client/src/app/site/assignments/modules/assignment-poll/assignment-poll.module.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.scss
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.scss
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.spec.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/cinema/cinema.module.ts
Labels: assignments, client, feature, voting

#5750 Avoid stream/jitsi cases without information
  client/src/app/shared/components/jitsi/jitsi.component.html
  client/src/app/shared/components/jitsi/jitsi.component.ts
Labels: bug, client

#5761 Fix user filter of poll progress
  client/src/app/site/polls/components/poll-progress/poll-progress.component.html
  client/src/app/site/polls/components/poll-progress/poll-progress.component.ts
  server/openslides/users/access_permissions.py
Labels: bug, client, server, voting

#5762 Show vote progress in autopilot
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.html
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.scss-theme.scss
  client/src/app/site/cinema/components/cinema/cinema.component.ts
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
Labels: client, feature

#5765 Enhance poll dialog layout
  client/src/app/shared/components/icon-container/icon-container.component.html
  client/src/app/shared/components/icon-container/icon-container.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.scss
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.scss
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.scss
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
Labels: clean up, client, voting

#5773 Overwork chip list in search value selector
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.scss
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
Labels: clean up, client, feature

#5774 Responsive add-self buttons in list-of-speakers
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.scss
Labels: bug, client

#5775 Add more dynamic vote delegations to user list
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client, feature, voting

#5777 Show vote delegations to users on ownPage
  client/src/app/site/users/components/user-detail/user-detail.component.html
Labels: bug, client

#5779 Add more server messages to translations
  client/src/app/core/translate/marked-translations.ts
Labels: client, translation

#5782 Fix models
  docs/models.yml
Labels: OpenSlides4

#5778 Add Changelog for 3.3 release
  CHANGELOG.rst
Labels: documentation
