Repository OpenSlides/OpenSlides, pull requests merged in 2020-11, with the labels that each got.

#5669 location -> place
  docs/models.yml
Labels: OpenSlides4

#5670 Fix eaxmple data: Add LOS for mediafiles
  docker/docker-compose.dev.yml
  docs/example-data.json
Labels: OpenSlides4

#5644 Add "point of order" feature to ListOfSpeakers
  client/src/app/core/repositories/agenda/list-of-speakers-repository.service.ts
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.scss
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/shared/models/agenda/speaker.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/tslint.json
  server/openslides/agenda/config_variables.py
  server/openslides/agenda/migrations/0010_speaker_point_of_order.py
  server/openslides/agenda/models.py
  server/openslides/agenda/serializers.py
  server/openslides/agenda/views.py
  server/tests/integration/agenda/test_viewset.py
  server/tests/unit/agenda/test_views.py
Labels: client, feature, server

#5628 catch and refresh unreachable video streams
  client/src/app/shared/components/vjs-player/vjs-player.component.html
  client/src/app/shared/components/vjs-player/vjs-player.component.scss
  client/src/app/shared/components/vjs-player/vjs-player.component.spec.ts
  client/src/app/shared/components/vjs-player/vjs-player.component.ts
  client/src/styles.scss
Labels: client, feature

#5673 Bug fix preventing undesired recreation of poll-collection
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
Labels: bug, client

#5674 Cinema needs perm to show list of speakers. Use content-container.
  client/src/app/site/cinema/components/cinema/cinema.component.html
Labels: client

#5676 Show vote weight totals in user list
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/styles.scss
Labels: client, feature

#5684 Fix a bug where vscroll select lists lost content
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
Labels: bug, client, high

#5691 Fix "remove all speaker" button
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
Labels: bug, client

#5692 Add los-close toggle to autopilot
  client/src/app/core/repositories/agenda/list-of-speakers-repository.service.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/cinema/components/cinema/cinema.component.html
  client/src/app/site/cinema/components/cinema/cinema.component.ts
  client/src/styles.scss
Labels: client, feature

#5690 Fix non-multipl os-search-val-selector
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
Labels: bug, client, high

#5694 Allow point-of-order on closed list of speakers
  server/openslides/agenda/views.py
Labels: feature, server

#5709 Replace travis with github actions
  .github/workflows/run-tests.yml
  .travis.yml
Labels: client, server, tests

#5708 Set relation Committee -> Meeting protected
  docs/models.yml
Labels: OpenSlides4

#5714 Fixed HTML attribute validation
  server/openslides/utils/validate.py
Labels: blocker, bug, high, server

#5718 Allow negative voting
  client/src/app/core/repositories/assignments/assignment-poll-repository.service.ts
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.ts
  client/src/app/shared/models/assignments/assignment-poll.ts
  client/src/app/shared/pipes/poll-key-verbose.pipe.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll-pdf.service.ts
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll.service.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/polls/components/base-poll-vote.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.scss
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  client/src/app/site/polls/models/view-base-poll.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide-data.ts
  server/openslides/assignments/access_permissions.py
  server/openslides/assignments/config_variables.py
  server/openslides/assignments/migrations/0016_negative_votes.py
  server/openslides/assignments/migrations/0017_vote_to_y.py
  server/openslides/assignments/models.py
  server/openslides/assignments/projector.py
  server/openslides/assignments/serializers.py
  server/openslides/assignments/views.py
  server/tests/integration/assignments/test_polls.py
Labels: client, feature, server, voting

#5707 Autoconnect the next X speaker to jitsi
  client/src/app/core/translate/marked-translations.ts
  client/src/app/shared/components/jitsi/jitsi.component.ts
  client/src/app/site/agenda/models/view-list-of-speakers.ts
  server/openslides/core/config_variables.py
Labels: client, feature

#5695 Show "please grant mic access" info
  client/src/app/core/ui-services/user-media-perm.service.spec.ts
  client/src/app/core/ui-services/user-media-perm.service.ts
  client/src/app/shared/components/jitsi/jitsi.component.ts
  server/openslides/core/config_variables.py
Labels: client, feature, high
