Repository OpenSlides/OpenSlides, pull requests merged in 2020-07, with the labels that each got.

#5444 Fixed import of the clos into the operator
  client/src/app/core/core-services/operator.service.ts
  client/src/app/shared/components/jitsi/jitsi.component.ts
Labels: client

#5447 Allow negative duration
  client/src/app/core/ui-services/duration.service.ts
Labels: bug, client

#5446 Add "login anyway" button
  client/src/app/site/login/components/unsupported-browser/unsupported-browser.component.html
Labels: client

#5429 Cleanup main routing page and ngrid lists
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.scss
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/shared/components/privacy-policy-content/privacy-policy-content.component.html
  client/src/app/shared/components/privacy-policy-content/privacy-policy-content.component.scss
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.scss
  client/src/app/site/common/components/legal-notice/legal-notice.component.html
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/common/components/user-statistics/user-statistics.component.html
  client/src/app/site/common/components/user-statistics/user-statistics.component.scss
  client/src/app/site/config/components/config-list/config-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.scss
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
  client/src/app/site/motions/modules/category/components/category-list/category-list.component.scss
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.scss
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.scss
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.html
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.scss
  client/src/app/site/polls/components/poll-progress/poll-progress.component.html
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/users/components/group-list/group-list.component.html
  client/src/app/site/users/components/group-list/group-list.component.scss
  client/src/styles.scss
Labels: clean up, client

#5455 Pin isort, repair tests
  openslides/agenda/apps.py
  openslides/assignments/apps.py
  openslides/core/apps.py
  openslides/mediafiles/apps.py
  openslides/motions/apps.py
  openslides/topics/apps.py
  openslides/users/access_permissions.py
  openslides/users/apps.py
  openslides/utils/cache_providers.py
  requirements/development.txt
  tests/conftest.py
  tests/settings.py
Labels: high, server, tests

#5452 Improve Jitsi on mobile
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/shared/components/jitsi/jitsi.component.html
  client/src/app/shared/components/jitsi/jitsi.component.scss
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.html
  client/src/app/site/motions/modules/statute-paragraph/components/statute-import-list/statute-import-list.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.html
Labels: client

#5454 Add top to agenda projection
  client/src/app/slides/agenda/item-list/item-list-slide.component.ts
Labels: client, projector

#5460 Add new settings to meeting model
  docs/example-data.json
  docs/models.txt
Labels: OpenSlides4

#5461 Add prefix to topic list of speaker slide
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
Labels: client

#5462 Improve Jitsi UI
  client/src/app/shared/components/jitsi/jitsi.component.html
  client/src/app/shared/components/jitsi/jitsi.component.scss
  client/src/app/shared/components/jitsi/jitsi.component.scss-theme.scss
  client/src/app/shared/components/jitsi/jitsi.component.ts
Labels: client

#5329 Changelog for 3.2
  CHANGELOG.rst
Labels: documentation

#5467 Fix PDF generation for motion with free amendments
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#5465 Add link to CLOS to meeting room indicator
  client/src/app/shared/components/jitsi/jitsi.component.html
Labels: client

#5468 Fix list views for safari
  client/src/app/shared/components/list-view-table/list-view-table.component.scss
Labels: client

#5470 Fix clicking behind conference bar
  client/src/app/shared/components/jitsi/jitsi.component.scss
Labels: client, high

#5471 Ignore venv
  .gitignore
Labels: OpenSlides4, clean up

#5479 Add "motions_amendments_workflow" config
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  openslides/motions/config_variables.py
Labels: client, config, feature, motions, server

#5480 Detect if the parent motion was deleted
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
Labels: bug, client

#5477 OS4 Schema: agenda items have tags
  docs/example-data.json
  docs/models.txt
Labels: OpenSlides4

#5488 Fixes setup for auth-service
  docker-compose.dev.yml
Labels: OpenSlides4

#5487 Smaller timeouts for HaProxy
  haproxy/src/haproxy.cfg
Labels: OpenSlides4

#5483 Fix docs
  docs/example-data.json
  docs/interfaces/autoupdate-service.txt
  docs/models.txt
Labels: OpenSlides4

#5492 Fix example data II
  docs/example-data.json
Labels: OpenSlides4
