Repository OpenSlides/OpenSlides, pull requests merged in 2020-03, with the labels that each got.

#5240 Enhance charts and tables for assignments
  client/src/app/core/translate/marked-translations.ts
  client/src/app/core/ui-services/banner.service.ts
  client/src/app/core/ui-services/voting-banner.service.ts
  client/src/app/shared/components/banner/banner.component.html
  client/src/app/shared/components/banner/banner.component.scss
  client/src/app/shared/components/banner/banner.component.scss-theme.scss
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/shared/components/check-input/check-input.component.ts
  client/src/app/shared/components/voting-privacy-warning/voting-privacy-warning.component.html
  client/src/app/shared/components/voting-privacy-warning/voting-privacy-warning.component.scss
  client/src/app/shared/components/voting-privacy-warning/voting-privacy-warning.component.spec.ts
  client/src/app/shared/components/voting-privacy-warning/voting-privacy-warning.component.ts
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.scss
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.spec.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/models/view-motion-poll.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/base-poll-dialog.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.scss
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  client/src/app/site/polls/components/poll-progress/poll-progress.component.html
  client/src/app/site/polls/components/poll-progress/poll-progress.component.scss
  client/src/app/site/polls/models/view-base-option.ts
  client/src/app/site/polls/models/view-base-poll.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide-data.ts
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide.component.html
  openslides/assignments/config_variables.py
Labels: development

#5242 Rework assignment voting
  client/src/app/core/repositories/assignments/assignment-poll-repository.service.ts
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.scss
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/polls/components/base-poll-vote.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  openslides/assignments/access_permissions.py
Labels: development

#5243 Add global no and abstain to form
  client/src/app/core/ui-services/voting-banner.service.ts
  client/src/app/core/ui-services/voting.service.ts
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/shared/components/check-input/check-input.component.ts
  client/src/app/shared/models/assignments/assignment-poll.ts
  client/src/app/shared/models/base/base-decimal-model.ts
  client/src/app/shared/models/poll/base-option.ts
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/models/poll/base-vote.ts
  client/src/app/shared/pipes/poll-key-verbose.pipe.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.scss
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.scss
  client/src/app/site/polls/models/view-base-poll.ts
  openslides/assignments/migrations/0008_voting_1.py
  openslides/assignments/models.py
  openslides/assignments/views.py
  openslides/motions/migrations/0033_voting_1.py
  openslides/motions/models.py
  openslides/motions/views.py
  openslides/poll/access_permissions.py
  openslides/poll/models.py
  openslides/poll/serializers.py
  openslides/poll/views.py
  tests/integration/assignments/test_polls.py
  tests/integration/motions/test_polls.py
Labels: development

#5244 Fix the error when creating a final print template after a title change recommendation
  client/src/app/core/ui-services/diff.service.ts
Labels: bug, client, motions

#5245 Added navigation between amendments when not shown in main list
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client, feature, motions

#5246 Added an indicator if all motions of a block are finished
  client/src/app/site/motions/models/view-motion-block.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.html
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.html
Labels: client, feature

#5249 Motion poll detail as slide
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.scss
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.spec.ts
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.ts
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/models/view-assignment-poll.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/models/view-motion-poll.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.scss-theme.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/models/view-base-option.ts
  client/src/app/site/polls/models/view-base-poll.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/motions/motion-poll/motion-poll-slide.component.html
  client/src/app/slides/motions/motion-poll/motion-poll-slide.component.scss
  client/src/app/slides/motions/motion-poll/motion-poll-slide.component.ts
Labels: development

#5251 Even more voting refinement
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.scss
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/pipes/poll-percent-base.pipe.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail-component.scss-theme.scss
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.scss
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.scss
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/services/assignment-poll-pdf.service.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/all-slides.ts
  client/src/assets/styles/poll-colors.scss
  client/src/assets/styles/poll-styles-common.scss
  openslides/assignments/config_variables.py
Labels: development

#5253 Cleanup and resolving ToDos
  .travis.yml
  client/src/app/app.component.ts
  client/src/app/core/core-services/offline.service.ts
  client/src/app/core/pdf-services/base-poll-pdf-service.ts
  client/src/app/core/repositories/motions/motion-poll-repository.service.ts
  client/src/app/core/translate/marked-translations.ts
  client/src/app/core/ui-services/voting-banner.service.ts
  client/src/app/shared/components/attachment-control/attachment-control.component.ts
  client/src/app/shared/components/banner/banner.component.html
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.scss
  client/src/app/shared/components/progress-snack-bar/progress-snack-bar.component.scss-theme.scss
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/components/search-value-selector/search-value-selector.component.ts
  client/src/app/shared/models/base/base-decimal-model.ts
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/pipes/parse-poll-number.pipe.ts
  client/src/app/site/assignments/assignments.config.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/components/base-poll-dialog.component.ts
  client/src/app/site/polls/components/base-poll-vote.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/styles.scss
  openslides/mediafiles/models.py
  tests/integration/mediafiles/test_viewset.py
Labels: development

#5254 Some overall improvements
  client/src/app/shared/pipes/poll-percent-base.pipe.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.spec.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-list/motion-poll-list.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-routing.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/components/poll-list/poll-list.component.html
  client/src/app/site/polls/components/poll-list/poll-list.component.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/styles.scss
Labels: development

#5259 Refactor usage of PollService
  client/src/app/core/ui-services/base-poll-dialog.service.ts
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/services/assignment-poll-dialog.service.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/motions/services/motion-poll-dialog.service.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/components/base-poll-dialog.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.spec.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide.component.ts
  client/src/app/slides/motions/motion-poll/motion-poll-slide.component.ts
  client/src/app/slides/polls/base-poll-slide.component.ts
  client/src/app/slides/services/slide-manager.service.ts
Labels: clean up, client, voting

#5260 Various small fixes
  client/src/app/shared/pipes/poll-key-verbose.pipe.ts
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/site/polls/services/poll.service.ts
Labels: voting

#5264 Rework Chart component
  client/src/app/shared/components/charts/charts.component.html
  client/src/app/shared/components/charts/charts.component.scss
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide.component.html
Labels: assignments, voting

#5265 Rework assignment poll slide
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.scss
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.spec.ts
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.scss
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide.component.html
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide.component.scss
  openslides/assignments/projector.py
  requirements/production.txt
Labels: client, server, voting

#5257 Client server communication
  docs/client-server-streaming-communication.txt
Labels: OpenSlides4

#5258 Adds interface for auth-service
  docs/interfaces/auth-service.txt
Labels: OpenSlides4

#5270 Fix Shift-Enter to save poll
  client/package.json
  client/src/app/site/assignments/components/assignment-poll-dialog/assignment-poll-dialog.component.spec.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.spec.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.ts
  client/src/app/site/polls/components/base-poll-dialog.component.ts
Labels: bug, client, high, voting

#5272 Full width for LOS search user
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.html
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.scss
Labels: client

#5273 Create new projectors with clos reference
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
Labels: bug, client

#5274 Show translated values in projector preview
  client/src/app/site/projector/components/projector-edit-dialog/projector-edit-dialog.component.ts
Labels: client, projector

#5271 Allow empty input values in recommendation
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.html
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
Labels: bug, client, motions, server

#5276 Remove pseudo-disabled values in poll form
  client/src/app/shared/components/check-input/check-input.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
Labels: client, needs discussion, voting

#5263 Adjustments for datastore spec
  .gitignore
  docs/interfaces/datastore-service.txt
Labels: OpenSlides4

#5279 Remove counting of IndexedDB and LocalStore
  client/src/app/core/ui-services/count-users.service.ts
  client/src/app/site/common/components/count-users/count-users.component.html
  client/src/app/site/common/services/count-user-statistics.service.ts
Labels: clean up, client

#5261 Refined models
  docs/example-data.json
  docs/models.txt
Labels: OpenSlides4

#5278 Manual change detection for config list
  client/src/app/site/config/components/config-field/config-field.component.ts
  client/src/app/site/config/components/config-list/config-list.component.ts
Labels: bug, client, config

#5280 Enhance workflow matrix for small screens
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.scss
Labels: client

#5281 Filter only evoting polls, change filter options
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/polls/components/poll-list/poll-list.component.html
  client/src/app/site/polls/models/view-base-poll.ts
  client/src/app/site/polls/services/base-poll-repository.service.ts
  client/src/app/site/polls/services/poll-filter-list.service.ts
Labels: client, voting

#5285 Fix untranslateable motion comment section dialog
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.html
Labels: bug, client, translation

#5284 Remove tooltips for charts
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
Labels: client, voting

#5282 Define chart height
  client/src/app/shared/components/charts/charts.component.html
  client/src/app/shared/components/charts/charts.component.scss
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.scss
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/components/assignment-poll-detail/assignment-poll-detail.component.scss
  client/src/app/site/assignments/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/services/assignment-poll.service.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
Labels: client, voting

#5283 Add set present toggle in user menu
  client/src/app/core/core-services/operator.service.ts
  client/src/app/shared/components/global-spinner/global-spinner.component.html
  client/src/app/shared/components/global-spinner/global-spinner.component.scss
  client/src/app/shared/components/global-spinner/global-spinner.component.spec.ts
  client/src/app/shared/components/global-spinner/global-spinner.component.ts
  client/src/app/shared/components/user-menu/user-menu.component.html
  client/src/app/shared/components/user-menu/user-menu.component.scss
  client/src/app/shared/components/user-menu/user-menu.component.spec.ts
  client/src/app/shared/components/user-menu/user-menu.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.scss-theme.scss
  client/src/app/site/site.component.ts
  client/src/styles.scss
  openslides/users/config_variables.py
  openslides/users/urls.py
  openslides/users/views.py
Labels: clean up, client, feature, server, users
