Repository OpenSlides/OpenSlides, pull requests merged in 2020-10, with the labels that each got.

#5541 Add vote delegation
  client/src/app/core/repositories/assignments/assignment-poll-repository.service.ts
  client/src/app/core/repositories/motions/motion-poll-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/voting.service.ts
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/models/poll/base-vote.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.scss
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/polls/components/base-poll-vote.component.ts
  client/src/app/site/polls/components/poll-progress/poll-progress.component.ts
  client/src/app/site/polls/models/view-base-poll.ts
  client/src/app/site/polls/services/base-poll-repository.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/models/view-user.ts
  server/openslides/assignments/migrations/0015_assignmentvote_delegated_user.py
  server/openslides/assignments/views.py
  server/openslides/motions/migrations/0037_motionvote_delegated_user.py
  server/openslides/motions/views.py
  server/openslides/poll/access_permissions.py
  server/openslides/poll/models.py
  server/openslides/poll/serializers.py
  server/openslides/poll/views.py
  server/openslides/users/access_permissions.py
  server/openslides/users/migrations/0015_user_vote_delegated_to.py
  server/openslides/users/models.py
  server/openslides/users/serializers.py
  server/openslides/users/views.py
  server/tests/integration/assignments/test_polls.py
  server/tests/integration/motions/test_polls.py
  server/tests/integration/users/test_viewset.py
  server/tests/unit/motions/test_models.py
Labels: client, feature, heavy, high, server, voting

#5604 Fix mat select search errors
  client/src/app/shared/components/search-value-selector/search-value-selector.component.html
Labels: bug, client, dependencies

#5507 Update and fix compodoc generation
  client/.compodocrc.json
  client/package.json
  client/src/app/app-routing.module.ts
  client/src/app/fullscreen-projector/fullscreen-projector-routing.module.ts
  client/src/app/site/agenda/agenda-routing.module.ts
  client/src/app/site/assignments/assignments-routing.module.ts
  client/src/app/site/assignments/modules/assignment-poll/assignment-poll-routing.module.ts
  client/src/app/site/cinema/cinema-routing.module.ts
  client/src/app/site/common/common-routing.module.ts
  client/src/app/site/config/config-routing.module.ts
  client/src/app/site/history/history-routing.module.ts
  client/src/app/site/mediafiles/mediafiles-routing.module.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list-routing.module.ts
  client/src/app/site/motions/modules/call-list/call-list-routing.module.ts
  client/src/app/site/motions/modules/category/category-routing.module.ts
  client/src/app/site/motions/modules/motion-block/motion-block-routing.module.ts
  client/src/app/site/motions/modules/motion-comment-section/motion-comment-section-routing.module.ts
  client/src/app/site/motions/modules/motion-detail/motion-detail-routing.module.ts
  client/src/app/site/motions/modules/motion-import/motion-import-routing.module.ts
  client/src/app/site/motions/modules/motion-list/motion-list-routing.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-routing.module.ts
  client/src/app/site/motions/modules/motion-workflow/motion-workflow-routing.module.ts
  client/src/app/site/motions/modules/statute-paragraph/statute-paragraph-routing.module.ts
  client/src/app/site/motions/motions-routing.module.ts
  client/src/app/site/polls/polls-routing.module.ts
  client/src/app/site/projector/projector-routing.module.ts
  client/src/app/site/site-routing.module.ts
  client/src/app/site/tags/tag-routing.module.ts
  client/src/app/site/topics/topics-routing.module.ts
  client/src/app/site/users/users-routing.module.ts
Labels: client, dependencies, documentation, low

#5593 Adjust models.yml
  .github/workflows/models.yml
  docs/models.yml
Labels: OpenSlides4

#5608 Add search and filter for vote delegation
  client/src/app/shared/models/users/user.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/models/view-user.ts
  client/src/app/site/users/services/user-filter-list.service.ts
Labels: client, feature, users

#5610 Fix mediafile multi download permission
  client/src/app/shared/directives/perms.directive.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.scss
Labels: client, high, mediafiles

#5598 Export users with username and vote weight
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: bug, client

#5592 Fix assignment polldata discovery in percent pipe
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/shared/pipes/poll-percent-base.pipe.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
Labels: bug, client, projector

#5613 Fix hidden motions in agenda list
  client/src/app/core/core-services/projector.service.ts
  client/src/app/core/repositories/base-is-agenda-item-content-object-repository.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
Labels: agenda, bug, client

#5603 Use numbers exclusively in PollNumberPipe
  client/src/app/shared/models/motions/motion-poll.ts
  client/src/app/shared/models/poll/base-poll.ts
  client/src/app/shared/pipes/parse-poll-number.pipe.ts
  client/src/app/site/motions/models/view-motion-poll.ts
  client/src/app/slides/assignments/assignment-poll/assignment-poll-slide.component.ts
  client/src/app/slides/motions/motion-poll/motion-poll-slide.component.ts
  client/src/app/slides/polls/base-poll-slide.component.ts
Labels: bug, projector

#5609 Add "represented by" to single votes table
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
Labels: assignments, feature, motions, voting

#5568 Add amendment cr to lead motion slide
  client/src/app/slides/motions/motion/motion-slide-data.ts
  client/src/app/slides/motions/motion/motion-slide.component.ts
  server/openslides/motions/projector.py
  server/tests/unit/motions/test_projector.py
Labels: client, high, needs review, projector, server

#5617 Show first unstable element in autopilot
  client/src/app/shared/models/core/projector.ts
  client/src/app/site/cinema/components/cinema/cinema.component.ts
Labels: bug, client

#5602 Add demo mode to all docker setups
  client/src/app/core/repositories/users/user-repository.service.ts
  docker/.env
  docker/docker-compose.yml.m4
  docker/docker-stack.yml.m4
  server/SETTINGS.rst
  server/docker/settings.py
  server/openslides/core/apps.py
  server/openslides/users/views.py
Labels: docker, feature

#5612 Fix typo
  .github/workflows/models.yml
  docs/models.yml
Labels: OpenSlides4

#5605 OS4 Models: Add configuration and adopt schema changes in OS3
  .github/workflows/models.yml
  docs/example-data.json
  docs/models.txt
  docs/models.yml
Labels: OpenSlides4

#5496 Update auth-service's interface
  docs/example-data.json
  docs/interfaces/auth-service.txt
Labels: OpenSlides4, documentation

#5642 Update model.yml to switch enum of state.
  docs/models.yml
Labels: OpenSlides4

#5648 Enable more features for motions
  docs/example-data.json
Labels: OpenSlides4

#5649 Adopt example data for new structured fields
  docs/example-data.json
Labels: OpenSlides4

#5650 Adopt example data: Reenable the old version
  docs/example-data.json
Labels: OpenSlides4

#5659 Fix docker compose dev
  docker/docker-compose.dev.yml
Labels: OpenSlides4
