Repository OpenSlides/OpenSlides, pull requests merged in 2021-05, with the labels that each got.

#6037 Allow LOS-Manager to see poll progress
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/polls/components/poll-progress/poll-progress.component.ts
Labels: client, feature

#6029 Remodel users
  docker/initial-data.json
  docs/example-data.json
  docs/models.yml
Labels: OpenSlides4, meta

#6049 Fix user cannot see candidate names
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
Labels: bug, client, high

#6050 Add General x to analog polls
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.scss
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll.service.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
Labels: client, high

#6051 Enumber Voting results
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/site/assignments/services/assignment-pdf.service.ts
Labels: client, feature

#6053 remove Motion polls show global values
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.html
  client/src/app/site/polls/components/base-poll-dialog.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
Labels: bug, client

#6052 Fix models
  docs/models.yml
Labels: OpenSlides4, meta

#5998 Add ALLOWED_HOSTS
  README.rst
  caddy/Caddyfile
  caddy/Caddyfile.dev
  caddy/entrypoint
  docker/.env
  docker/docker-compose.yml.m4
  docker/docker-stack.yml.m4
  server/openslides/users/config_variables.py
Labels: high

#6065 change model of can_change_own_password
  docker/initial-data.json
  docs/example-data.json
  docs/models.yml
  docs/permission.yml
Labels: OpenSlides4, meta

#6069 Remove read_only from meeting/jitsi_*
  docs/models.yml
Labels: backend

#6068 Fix default projector relation
  docker/initial-data.json
  docs/example-data.json
Labels: OpenSlides4, meta

#6072 Restrict Chat message length in client
  client/src/app/site/chat/components/chat-tabs/chat-tabs.component.html
  client/src/app/site/chat/components/chat-tabs/chat-tabs.component.scss
  client/src/app/site/chat/components/chat-tabs/chat-tabs.component.ts
Labels: client

#6066 Hide cursor in full screen projector
  client/src/app/fullscreen-projector/fullscreen-projector/fullscreen-projector.component.html
  client/src/styles.scss
Labels: client, feature

#6073 Keep point-of-order infos
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.scss
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
Labels: client

#6075 Enhance point-of-order dialog
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
  client/src/app/shared/components/point-of-order-dialog/point-of-order-dialog.component.html
Labels: client

#6076 Add some hyphenation
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/styles.scss
Labels: client

#6063 Add own font for chyron
  client/src/app/core/ui-services/load-font.service.ts
  client/src/app/shared/components/contdown-time/countdown-time.component.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide-data.ts
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.component.html
  client/src/app/slides/agenda/current-speaker-chyron/current-speaker-chyron-slide.component.scss
  client/src/assets/styles/font-variables.scss
  client/src/assets/styles/fonts.scss
  server/openslides/core/config_variables.py
Labels: client

#6074 Show "unpublished" for finished polls in AP
  client/src/app/site/cinema/components/cinema/cinema.component.ts
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
  client/src/app/site/polls/components/poll-progress/poll-progress.component.ts
Labels: client

#6070 stop-voting shows prompt
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/site/polls/services/base-poll-repository.service.ts
  server/openslides/poll/views.py
  server/tests/integration/motions/test_polls.py
Labels: feature

#6081 Respect candidate enumeration per assignment
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.ts
Labels: client

#6084 Refine AP Interaction
  client/src/app/site/cinema/components/cinema/cinema.component.html
  client/src/app/site/cinema/components/cinema/cinema.component.ts
Labels: bug, client, feature, high

#6090 Fix clearing the DS.
  docker/docker-compose.dev.yml
Labels: OpenSlides4, meta

#6092 Rm ro from organisation.enable_electronic_voting
  docs/models.yml
Labels: OpenSlides4, backend
